.login-pg .login-container{width: 25%;margin: auto;background-color: #F7F7F7;text-align: center;padding: 20px 20px;border-radius: 10px;margin-top: 12%;box-shadow: 0 0 10px 10px #aaa;
border: 10px solid #ccc;}
.register-vendor {width: 100% !important;}
.login-pg .login-container form{}
.login-pg .login-container form .form-control{margin-bottom:10px;}
.login-pg .login-container .img img{width: 40%;border: 2px solid #4D535F;border-radius: 50%;padding: 5px;}
.login-pg .login-container .img{margin-bottom: 30px;}
.login-pg{background-image:url("../img/loginbg14.jpg");}
.login-pg .alert{padding: 5px;}
.login-pg .alert ul > li{font-size: 12px;text-align: left;}

.admin-body{background: #ecf0f5;}

.admin-wrapper .header{position: fixed;width: 100%;}
.admin-wrapper .header .block1{background: #367AA6;min-height: 50px;width: 25px;float: left;}
.admin-wrapper .header .block2{background: #3c8cbb;min-height: 50px;text-align: right;padding-top: 0px;margin-left: 217px;}
.admin-wrapper .header .block1 div{text-align: center;padding-top: 11px;color: #fff;font-size: 20px;font-weight: bold;}
.admin-wrapper .header .block1 div i{font-size: 25px;margin-right: 5px;}
.admin-wrapper .header .block2 span{margin-right: 30px;font-style: italic;color: #fff;}
.admin-wrapper .header .block2 a{color: #fff;margin-right: 25px;font-weight: bold;text-decoration: none;}
.admin-wrapper .header .block2 a i{font-weight: bold;}	

.admin-wrapper .sidebar{position: fixed;width: 25px;min-height: 100%;left: 0;background: #222d32;top: 50px;}
.admin-wrapper .sidebar .logo{text-align: center;padding-top: 20px;display: none;}
.admin-wrapper .sidebar .logo img{width: 25%;}
.admin-wrapper .sidebar .title{color: #4b646f;background: #1a2226;padding: 10px;font-size: 12px;margin-top: 20px;}
.admin-wrapper .sidebar ul{list-style-type: none;}
.admin-wrapper .sidebar ul a{text-decoration: none;}
.admin-wrapper .sidebar .main-nav{padding: 0;  height: 500px; overflow-y:auto;}
.admin-wrapper .sidebar .main-nav > li > a{display: block;padding: 10px;color: #b8c7ce;}
.admin-wrapper .sidebar .main-nav > li > a i{margin-right:5px;}
.admin-wrapper .sidebar .main-nav > li:hover > a{padding-left: 25px;transition:0.5s ease;-webkit-transition:0.5s ease;-ms-transition:0.5s ease;background: #1e282c;color: #fff;}
.admin-wrapper .sidebar .main-nav > li a{transition:0.5s ease;-webkit-transition:0.5s ease;-ms-transition:0.5s ease;}
.admin-wrapper .sidebar .main-nav > li:hover .sub-nav{transition:0.5s ease;-ms-transition:0.5s ease;-webkit-transition:0.5s ease;transform:scale(1);-webkit-transform:scale(1);-ms-transform:scale(1);}
.admin-wrapper .sidebar .main-nav > li{position: relative;}
.admin-wrapper .sidebar .sub-nav{position: absolute;top: 0;left: 100%;padding: 0;min-width: 200px;background: #222d32;
								transition:0.5s ease;-ms-transition:0.5s ease;-webkit-transition:0.5s ease;
								transform:scale(0);-webkit-transform:scale(0);-ms-transform:scale(0);}
.admin-wrapper .sidebar .sub-nav > li > a{display: block;padding: 10px;color: #b8c7ce;}
.admin-wrapper .sidebar .sub-nav > li:hover > a{background: #1e282c;color: #fff;} 

.admin-wrapper .content{padding: 20px 25px 25px 25px;margin-left: 217px; word-wrap: break-word;}

@media(max-width: 480px){
  
  .admin-wrapper .content{padding: 10px 4px 4px 4px;margin-left: 0px;word-wrap: break-word;}

}


.admin-wrapper .content .dashboard-pg i{font-size: 50px;}
.admin-wrapper .content .dashboard-pg span{font-style: italic;}

.news-pg .title{margin-top: 0;margin-bottom: 30px;}
.news-pg .wk-table{width: 100%;margin-top: 20px;}
.news-pg .wk-table th{text-align: center;padding: 12px;}
.news-pg .wk-table td{padding: 5px;font-size: 12px;}
.news-pg .wk-table th:first-child{width: 60%;}
.news-pg .wk-table th:nth-child(2){width: 20%;}
.news-pg .wk-table th:last-child{width: 20%;}
.news-pg .wk-table tbody tr td:nth-child(2){text-align: center;}
.news-pg .wk-table tbody tr td:last-child{text-align: center;}
.news-pg .wk-table tbody tr td:last-child .btn:first-child{margin-right: 10px;}
.news-pg .wk-table tbody tr td .btn{font-size: 12px;}

.reviews-pg .title{margin-top: 0;margin-bottom: 30px;}
.reviews-pg .wk-table{width: 100%;margin-top: 20px;}
.reviews-pg .wk-table th{text-align: center;padding: 12px;}
.reviews-pg .wk-table td{padding: 5px;font-size: 12px;}
.reviews-pg .wk-table th:first-child{width: 10%;}
.reviews-pg .wk-table th:nth-child(2){width: 20%;}
.reviews-pg .wk-table th:last-child{width: 20%;}
.reviews-pg .wk-table tbody tr td:nth-child(2){text-align: center;}
.reviews-pg .wk-table tbody tr td:last-child{text-align: center;}
.reviews-pg .wk-table tbody tr td:last-child .btn:first-child{margin-right: 10px;}
.reviews-pg .wk-table tbody tr td .btn{font-size: 12px;}


.wk-table{
    border: 1px solid #333;
    border: 3px solid #FFAE4D; 
    word-wrap:break-word; 
    text-align: center; 
    width: 100%;
    margin-top: 20px;
}}
.wk-table th{border: 2px solid #FFAE4D;}
.wk-table td{border: 2px solid #FFAE4D;}
.wk-table thead tr{color:  #b8c7ce;background: #222D32;}
.wk-table tbody tr{background: #fff;}
.wk-table tbody tr:hover{background: #ECF0F5;}

.cancelled-table { margin-right: 10px; position:relative;}


.wk-btn{width: 70px;font-size: 12px;}

.wk-err-msg{font-size: 12px;color:red;}
#password-mismatch-error{text-align: center;}

.admin-wrapper .modal .modal-dialog{margin-top: 120px;}

.admin-wrapper #deleteNews-modal .modal-dialog{width: 350px;}

.admin-wrapper #editBikeModel-modal .modal-dialog{width: 950px;margin-top: 40px;}

.admin-wrapper #specBikeModel-modal .modal-dialog{width: 900px;margin-top: 40px;}

.admin-wrapper #addNews-modal textarea{margin-bottom: 20px;}

.admin-wrapper #editNews-modal textarea{margin-bottom: 20px;}



.admin-wrapper #deleteReviews-modal .modal-dialog{width: 350px;}

.admin-wrapper #addReviews-modal textarea{margin-bottom: 20px;}

.admin-wrapper #editReviews-modal textarea{margin-bottom: 20px;}



/*Admin City css*/

.city-pg .title{margin-top: 0;margin-bottom: 30px;}
.city-pg .wk-table{width: 100%;margin-top: 20px;}
.city-pg .wk-table th{text-align: center;padding: 12px;}
.city-pg .wk-table td{padding: 5px;font-size: 12px;}
.city-pg .wk-table th:first-child{width: 10%;}
.city-pg .wk-table th:nth-child(2){width: 50%;}
.city-pg .wk-table th:nth-child(3){width: 20%;}
.city-pg .wk-table th:last-child{width: 20%;}
.city-pg .wk-table tbody tr td{text-align: center;}
.city-pg .wk-table tbody tr td .btn{font-size: 12px;}



/*Admin Area css*/

.area-pg .title{margin-top: 0;margin-bottom: 30px;}
.area-pg .wk-table{width: 100%;margin-top: 20px;}
.area-pg .wk-table th{text-align: center;padding: 12px;}
.area-pg .wk-table td{padding: 5px;font-size: 12px;}
.area-pg .wk-table th:first-child{width: 10%;}
.area-pg .wk-table th:nth-child(2){width: 30%;}
.area-pg .wk-table th:nth-child(3){width: 30%;}
.area-pg .wk-table th:nth-child(4){width: 10%;}
.area-pg .wk-table th:last-child{width: 20%;}
.area-pg .wk-table tbody tr td{text-align: center;}
.area-pg .wk-table tbody tr td .btn{font-size: 12px;}



/*Admin BikeMake css*/

.bikeMake-pg .title{margin-top: 0;margin-bottom: 30px;}
.bikeMake-pg .wk-table{width: 100%;margin-top: 20px;}
.bikeMake-pg .wk-table th{text-align: center;padding: 12px;}
.bikeMake-pg .wk-table td{padding: 5px;font-size: 12px;}
.bikeMake-pg .wk-table th:first-child{width: 10%;}
.bikeMake-pg .wk-table th:nth-child(2){width: 50%;}
.bikeMake-pg .wk-table th:nth-child(3){width: 20%;}
.bikeMake-pg .wk-table th:last-child{width: 20%;}
.bikeMake-pg .wk-table tbody tr td{text-align: center;}
.bikeMake-pg .wk-table tbody tr td .btn{font-size: 12px;}



/*Admin BikeModel css*/

.bikeModel-pg .title{margin-top: 0;margin-bottom: 30px;}
.bikeModel-pg .wk-table{width: 100%;margin-top: 20px;}
.bikeModel-pg .wk-table th{text-align: center;padding: 12px;}
.bikeModel-pg .wk-table td{padding: 5px;font-size: 12px;}
.bikeModel-pg .wk-table th:first-child{width: 10%;}
.bikeModel-pg .wk-table th:nth-child(2){width: 30%;}
.bikeModel-pg .wk-table th:nth-child(3){width: 30%;}
.bikeModel-pg .wk-table th:nth-child(4){width: 10%;}
.bikeModel-pg .wk-table th:last-child{width: 20%;}
.bikeModel-pg .wk-table tbody tr td{text-align: center;}
.bikeModel-pg .wk-table tbody tr td .btn{font-size: 12px;}
.bikeModel-pg .wk-table .bikeModel_edit_btn{margin-bottom: 5px;}



/*Admin Bike css*/

.bike-pg .title{margin-top: 0;margin-bottom: 30px;}
.bike-pg .wk-table{width: 100%;margin-top: 20px;}
.bike-pg .wk-table th{text-align: center;padding: 12px;}
.bike-pg .wk-table td{padding: 5px;font-size: 12px;}
.bike-pg .wk-table tbody tr td{text-align: center;}
.bike-pg .wk-table tbody tr td .btn{font-size: 12px;}



/*Admin User css*/

.user-pg .title{margin-top: 0;margin-bottom: 30px;}
.user-pg .wk-table{width: 100%;margin-top: 20px;}
.user-pg .wk-table th{text-align: center;padding: 12px;}
.user-pg .wk-table td{padding: 5px;font-size: 12px;}
.user-pg .wk-table tbody tr td{text-align: center;}
.user-pg .wk-table tbody tr td .btn{font-size: 12px;}



/*Admin ContactEnquiry css*/

.contactEnquiry-pg .title{margin-top: 0;margin-bottom: 30px;}
.contactEnquiry-pg .wk-table{width: 100%;margin-top: 20px;}
.contactEnquiry-pg .wk-table th{text-align: center;padding: 12px;}
.contactEnquiry-pg .wk-table td{padding: 5px;font-size: 12px;}
.contactEnquiry-pg .wk-table tbody tr td{text-align: center;}



/*Admin EmailSubscribe css*/

.esubscribe-pg .title{margin-top: 0;margin-bottom: 30px;}
.esubscribe-pg .wk-table{width: 100%;margin-top: 20px;}
.esubscribe-pg .wk-table th{text-align: center;padding: 12px;}
.esubscribe-pg .wk-table td{padding: 5px;font-size: 12px;}
.esubscribe-pg .wk-table tbody tr td{text-align: center;}



/*Admin Price css*/

.price-pg .title{margin-top: 0;margin-bottom: 30px;}
.price-pg .wk-table{width: 100%;margin-top: 20px;}
.price-pg .wk-table th{text-align: center;padding: 12px;}
.price-pg .wk-table td{padding: 5px;font-size: 12px;}
.price-pg .wk-table tbody tr td{text-align: center;}


/*Admin Booking css*/

.booking-pg .title{margin-top: 0;margin-bottom: 30px;}
.booking-pg .wk-table{width: 100%;margin-top: 20px;}
.booking-pg .wk-table th{text-align: center;padding: 12px;}
.booking-pg .wk-table td{padding: 5px;font-size: 12px;}
.booking-pg .wk-table tbody tr td{text-align: center;}
.booking-pg .booking_delete_btn{font-size: 12px;}
.admin-wrapper #deleteBooking-modal .modal-dialog{width: 350px;} 


.adminBikeAvailabilityError{font-size: 12px;color: red;text-align: center;}


.bikeFilter-pg .title{margin-top: 0;margin-bottom: 38px;}
.bikeFilter-pg .wk-table{width: 100%;margin-top: 30px;}
.bikeFilter-pg .wk-table th{text-align: center;padding: 12px;}
.bikeFilter-pg .wk-table td{padding: 5px;font-size: 12px;}
.bikeFilter-pg .wk-table tbody tr td{text-align: center;}
.bikeFilter-pg h3{font-size: 18px;font-weight: bold;text-transform: uppercase;margin-bottom: 15px;font-style: italic;}
.bikeFilter-pg #filter-form .form-group{margin-right: 15px;}
.bikeFilter-pg #user-details ul{padding: 0;}
.bikeFilter-pg #user-details ul li{display: inline-block;font-weight: bold;margin-right: 25px;}
.bikeFilter-pg #user-details h3{font-size: 18px;font-weight: bold;text-transform: uppercase;margin-bottom: 15px;margin-top: 30px;font-style: italic;}
.bikeFilter-pg #user-details ul li span{font-weight: normal;}
.bikeFilter-pg h4{font-size: 13px;font-weight: bold;margin-top: 40px;text-transform: uppercase;}
.bikeFilter-pg .wk-table2{margin-top: 15px;}
.bikeFilter-pg .wk-table1 tbody tr td:first-child{font-weight: bold;}

/* Ashutosh J*/
#date-error, #data-error{color: red;font-size: 12px;text-align: center;margin-top: 10px;}
.bikeModel-pg .wk-table td{
	height: 100px;
}
.bikeModel-pg .wk-table div.model-description{
  width: 100%; max-height: 100px; overflow:hidden; 
}

ul ul{
	list-style-type: none;
}

.button-group .dropdown-menu{
	left: 15px;
}

.bikeFilter-pg .form-group{margin-top: 5px;}
#bikethonvendor-wrapper .modal .modal-dialog
{
     margin-top: 20px;
}

.error{
 color:red;
 font-size: 12px;
    font-style: normal;
}
#vendor_signup_form .error{
    border: 1px solid red;
}

#vertical-menu {
    color: #b8c7ce;
    /*box-shadow: 
		0 5px 15px 1px rgba(0, 0, 0, 0.6), 
		0 0 200px 1px rgba(255, 255, 255, 0.5);*/
}
/*heading styles*/
 #vertical-menu h3 {
    font-size: 12px;
    line-height: 34px;
    padding: 0 10px;
    cursor: pointer;
    /*fallback for browsers not supporting gradients*/
    background: #1e282c;
}
/*heading hover effect*/
 #vertical-menu h3:hover {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}
/*iconfont styles*/
 #vertical-menu h3 span {
    font-size: 16px;
    margin-right: 10px;
}
/*list items*/
 #vertical-menu li {
    list-style-type: none;
}
/*links*/
 #vertical-menu ul ul li a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    line-height: 30px;
    display: block;
    padding: 0 15px;
    /*transition for smooth hover animation*/
    transition: all 0.15s;
}
/*hover effect on links*/
 #vertical-menu ul ul li a:hover {
    background: #1e282c;
    /*border-left: 5px solid lightgreen;*/
}
/*Lets hide the non active LIs by default*/
 #vertical-menu ul ul {
    display: none;
}
#vertical-menu li.active ul {
    display: block;
}

#custom-search-form {
        margin:0;
        margin-top: 5px;
        padding: 0;
    }
 
    #custom-search-form .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: width  0.2s ease-in-out;
    -moz-transition:width  0.2s ease-in-out;
    -o-transition: width  0.2s ease-in-out;
    transition: width  0.2s ease-in-out;
    }
 
    #custom-search-form button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }   
    .search-query:focus{
        width: 260px;
    }

#all-users{
        width: 2700px !important;
    }
#all-enquiries{
        width: 1250px !important;
    }
#all-promocodes{
        width: 2000px !important;
    }
#all-serviceblocks{
        width: 2000px !important;
    }





    body,html{
		height: 110%;
	}

	/* remove outer padding */
	.main .row{
		padding: 0px;
		margin: 0px;
	}

	/*Remove rounded coners*/

	nav.sidebar.navbar {
		border-radius: 0px;
	}

	nav.sidebar, .main{
		-webkit-transition: margin 200ms ease-out;
	    -moz-transition: margin 200ms ease-out;
	    -o-transition: margin 200ms ease-out;
	    transition: margin 200ms ease-out;
	}

	/* Add gap to nav and right windows.*/
	.main{
		padding: 10px 10px 0 10px;
	}

	/* .....NavBar: Icon only with coloring/layout.....*/

	/*small/medium side display*/
	@media (min-width: 768px) {

		/*Allow main to be next to Nav*/
		.main{
			position: absolute;
			width: calc(100% - 40px); /*keeps 100% minus nav size*/
			margin-left: 40px;
			float: right;
		}

		/*lets nav bar to be showed on mouseover*/
		nav.sidebar:hover + .main{
			margin-left: 200px;
		}

		/*Center Brand*/
		nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
			margin-left: 0px;
		}
		/*Center Brand*/
		nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
			text-align: center;
			width: 100%;
			margin-left: 0px;
		}

		/*Center Icons*/
		nav.sidebar a{
			padding-right: 13px;
		}

		/*adds border top to first nav box */
		nav.sidebar .navbar-nav > li:first-child{
			border-top: 1px #e5e5e5 solid;
		}

		/*adds border to bottom nav boxes*/
		nav.sidebar .navbar-nav > li{
			border-bottom: 1px #e5e5e5 solid;
		}

		/* Colors/style dropdown box*/
		nav.sidebar .navbar-nav .open .dropdown-menu {
			position: static;
			float: none;
			width: auto;
			margin-top: 0;
			background-color: transparent;
			border: 0;
			-webkit-box-shadow: none;
			box-shadow: none;
		}

		/*allows nav box to use 100% width*/
		nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
			padding: 0 0px 0 0px;
		}

		/*colors dropdown box text */
		.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
			color: #777;
		}

		/*gives sidebar width/height*/
		nav.sidebar{
			width: 200px;
			height: 100%;
			margin-left: 0px;
			float: left;
			z-index: 8000;
			margin-bottom: 0px;
		}

		/*give sidebar 100% width;*/
		nav.sidebar li {
			width: 100%;
		}

		/* Move nav to full on mouse over*/
		nav.sidebar:hover{
			margin-left: 0px;
		}
		/*for hiden things when navbar hidden*/
		.forAnimate{
			opacity: 0;
		}
	}

	/* .....NavBar: Fully showing nav bar..... */

	@media (min-width: 1330px) {

		/*Allow main to be next to Nav*/
		.main{
			width: calc(100% - 200px); /*keeps 100% minus nav size*/
			margin-left: 200px;
		}

		/*Show all nav*/
		nav.sidebar{
			margin-left: 0px;
			float: left;
		}
		/*Show hidden items on nav*/
		nav.sidebar .forAnimate{
			opacity: 1;
		}
	}

	nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
		color: #CCC;
		background-color: transparent;
	}

	nav:hover .forAnimate{
		opacity: 1;
	}
	section{
		padding-left: 15px;
	}

#trip-modal{
    margin-left: 80px;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.inPageForm {
    margin-bottom:5px;
    
}

.inPageForm label{
    margin-bottom:5px;
    
}
.inPageForm textarea{
    margin-bottom:5px;
    
}
.inPageForm input{
    margin-bottom:5px;
    
}
.inPageForm div{
    margin-bottom:5px;
    
}
.inPageForm button{
    margin-bottom:5px;
    
}
.clear_both{
clear: both;
}

.hidden{
    display: none;
}

.form-group button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form-group fieldset{
    padding: 15px;
    margin: 10px;
    border: 2px solid lightgrey;
}

.fieldsetelements {
    margin: 4px;
}



.card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
    margin: 2px;

}

.card-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1.25rem;
}

.card > .list-group:first-child .list-group-item:first-child {
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}

.card > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #f7f7f9;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: #f7f7f9;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.card-primary {
  background-color: #0275d8;
  border-color: #0275d8;
}

.card-primary .card-header,
.card-primary .card-footer {
  background-color: transparent;
}

.card-success {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.card-success .card-header,
.card-success .card-footer {
  background-color: transparent;
}

.card-info {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.card-info .card-header,
.card-info .card-footer {
  background-color: transparent;
}

.card-warning {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.card-warning .card-header,
.card-warning .card-footer {
  background-color: transparent;
}

.card-danger {
  background-color: #d9534f;
  border-color: #d9534f;
}

.card-danger .card-header,
.card-danger .card-footer {
  background-color: transparent;
}

.card-outline-primary {
  background-color: transparent;
  border-color: #0275d8;
}

.card-outline-secondary {
  background-color: transparent;
  border-color: #ccc;
}

.card-outline-info {
  background-color: transparent;
  border-color: #5bc0de;
}

.card-outline-success {
  background-color: transparent;
  border-color: #5cb85c;
}

.card-outline-warning {
  background-color: transparent;
  border-color: #f0ad4e;
}

.card-outline-danger {
  background-color: transparent;
  border-color: #d9534f;
}

.card-inverse {
  color: rgba(255, 255, 255, 0.65);
}

.card-inverse .card-header,
.card-inverse .card-footer {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.2);
}

.card-inverse .card-header,
.card-inverse .card-footer,
.card-inverse .card-title,
.card-inverse .card-blockquote {
  color: #fff;
}

.card-inverse .card-link,
.card-inverse .card-text,
.card-inverse .card-subtitle,
.card-inverse .card-blockquote .blockquote-footer {
  color: rgba(255, 255, 255, 0.65);
}

.card-inverse .card-link:focus, .card-inverse .card-link:hover {
  color: #fff;
}

.card-blockquote {
  padding: 0;
  margin-bottom: 0;
  border-left: 0;
}

.card-img {
  border-radius: calc(0.25rem - 1px);
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card-img-top {
  border-top-right-radius: calc(0.25rem - 1px);
  border-top-left-radius: calc(0.25rem - 1px);
}

.card-img-bottom {
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

@media (min-width: 576px) {
  .card-deck {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .card-deck .card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0%;
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card-deck .card:not(:first-child) {
    margin-left: 15px;
  }
  .card-deck .card:not(:last-child) {
    margin-right: 15px;
  }
}

@media (min-width: 576px) {
  .card-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .card-group .card {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0%;
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
  }
  .card-group .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .card-group .card:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  .card-group .card:first-child .card-img-top {
    border-top-right-radius: 0;
  }
  .card-group .card:first-child .card-img-bottom {
    border-bottom-right-radius: 0;
  }
  .card-group .card:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  .card-group .card:last-child .card-img-top {
    border-top-left-radius: 0;
  }
  .card-group .card:last-child .card-img-bottom {
    border-bottom-left-radius: 0;
  }
  .card-group .card:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
  .card-group .card:not(:first-child):not(:last-child) .card-img-top,
  .card-group .card:not(:first-child):not(:last-child) .card-img-bottom {
    border-radius: 0;
  }
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
    margin-bottom: 0.75rem;
  }
}


.custom-combobox {
    position: relative;
    display: inline-block;
  }
.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}
.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #fff !important;
}

.rearrage-list li{
    border: 2px solid ghostwhite;
    margin: 10px;
    font-size: 14px;
    cursor: move;
    padding: 10px 40px;
    background-color: snow;
}

.rearrage-child-list li{
    border: 2px solid ghostwhite;
    margin: 10px;
    font-size: 14px;
    cursor: move;
    padding: 10px 40px;
    background-color: linen;
}

.rearrage-child2-list li{
    border: 2px solid ghostwhite;
    margin: 10px;
    font-size: 14px;
    cursor: move;
    padding: 10px 40px;
    background-color: snow;
}


.ghost {
  opacity: 1;
  background: #C8EBFB;
}

.inline-elements {
    display:-webkit-inline-box;
}

.inline-elements *{
    margin-right:20px;
}


.custom-header {
    text-align: center;
    padding: 3px;
    background: #000;
    color: #fff;
}



@media only screen and (max-width: 800px) {
	
	/* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr { border: 1px solid #ccc; }
 
	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
	}
 
	#no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
}

/*
.ui-autocomplete-input {
  border: none; 
  font-size: 14px;
  width: 300px;
  height: 30px;
  margin-bottom: 5px;
  padding-top: 2px;
  border: 1px solid #DDD !important;
  padding-top: 0px !important;
  z-index: 1511;
  position: relative;
}

*/

.ui-menu .ui-menu-item a {
  font-size: 12px;
}
.ui-autocomplete {
  position: fixed;
  top: 100%;
  left: 0;
  z-index: 1051 !important;
  float: left;
  display: none;
  min-width: 160px;
  width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}
.ui-state-hover, .ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
}
#modalIns{
    width: 500px;
}
