.login-pg .login-container{width: 25%;margin: auto;background-color: #F7F7F7;text-align: center;padding: 20px 20px;border-radius: 10px;margin-top: 12%;box-shadow: 0 0 10px 10px #aaa;
border: 10px solid #ccc;}
.register-vendor {width: 100% !important;}
.login-pg .login-container form{}
.login-pg .login-container form .form-control{margin-bottom:10px;}
.login-pg .login-container .img img{width: 40%;border: 2px solid #4D535F;border-radius: 50%;padding: 5px;}
.login-pg .login-container .img{margin-bottom: 30px;}
.login-pg{background-image:url("../img/loginbg14.jpg");}
.login-pg .alert{padding: 5px;}
.login-pg .alert ul > li{font-size: 12px;text-align: left;}

.admin-body{background: #ecf0f5;}

.admin-wrapper .header{position: fixed;width: 100%;}
.admin-wrapper .header .block1{background: #367AA6;min-height: 50px;width: 217px;float: left;}
.admin-wrapper .header .block2{background: #3c8cbb;min-height: 50px;text-align: right;padding-top: 13px;margin-left: 217px;}
.admin-wrapper .header .block1 div{text-align: center;padding-top: 11px;color: #fff;font-size: 20px;font-weight: bold;}
.admin-wrapper .header .block1 div i{font-size: 25px;margin-right: 5px;}
.admin-wrapper .header .block2 span{margin-right: 30px;font-style: italic;color: #fff;}
.admin-wrapper .header .block2 a{color: #fff;margin-right: 25px;font-weight: bold;text-decoration: none;}
.admin-wrapper .header .block2 a i{font-weight: bold;}	

.admin-wrapper .sidebar{position: fixed;width: 217px;min-height: 100%;left: 0;background: #222d32;top: 50px;}
.admin-wrapper .sidebar .logo{text-align: center;padding-top: 20px;display: none;}
.admin-wrapper .sidebar .logo img{width: 25%;}
.admin-wrapper .sidebar .title{color: #4b646f;background: #1a2226;padding: 10px;font-size: 12px;margin-top: 20px;}
.admin-wrapper .sidebar ul{list-style-type: none;}
.admin-wrapper .sidebar ul a{text-decoration: none;}
.admin-wrapper .sidebar .main-nav{padding: 0;  height: 500px; overflow-y:auto;}
.admin-wrapper .sidebar .main-nav > li > a{display: block;padding: 10px;color: #b8c7ce;}
.admin-wrapper .sidebar .main-nav > li > a i{margin-right:5px;}
.admin-wrapper .sidebar .main-nav > li:hover > a{padding-left: 25px;transition:0.5s ease;-webkit-transition:0.5s ease;-ms-transition:0.5s ease;background: #1e282c;color: #fff;}
.admin-wrapper .sidebar .main-nav > li a{transition:0.5s ease;-webkit-transition:0.5s ease;-ms-transition:0.5s ease;}
.admin-wrapper .sidebar .main-nav > li:hover .sub-nav{transition:0.5s ease;-ms-transition:0.5s ease;-webkit-transition:0.5s ease;transform:scale(1);-webkit-transform:scale(1);-ms-transform:scale(1);}
.admin-wrapper .sidebar .main-nav > li{position: relative;}
.admin-wrapper .sidebar .sub-nav{position: absolute;top: 0;left: 100%;padding: 0;min-width: 200px;background: #222d32;
								transition:0.5s ease;-ms-transition:0.5s ease;-webkit-transition:0.5s ease;
								transform:scale(0);-webkit-transform:scale(0);-ms-transform:scale(0);}
.admin-wrapper .sidebar .sub-nav > li > a{display: block;padding: 10px;color: #b8c7ce;}
.admin-wrapper .sidebar .sub-nav > li:hover > a{background: #1e282c;color: #fff;} 

.admin-wrapper .content{padding: 80px 25px 25px 25px;margin-left: 217px;word-wrap: break-word;}

.admin-wrapper .content .dashboard-pg i{font-size: 50px;}
.admin-wrapper .content .dashboard-pg span{font-style: italic;}

.admin-wrapper .content .news-pg .title{margin-top: 0;margin-bottom: 30px;}
.admin-wrapper .content .news-pg .wk-table{width: 100%;margin-top: 20px;}
.admin-wrapper .content .news-pg .wk-table th{text-align: center;padding: 12px;}
.admin-wrapper .content .news-pg .wk-table td{padding: 5px;font-size: 12px;}
.admin-wrapper .content .news-pg .wk-table th:first-child{width: 60%;}
.admin-wrapper .content .news-pg .wk-table th:nth-child(2){width: 20%;}
.admin-wrapper .content .news-pg .wk-table th:last-child{width: 20%;}
.admin-wrapper .content .news-pg .wk-table tbody tr td:nth-child(2){text-align: center;}
.admin-wrapper .content .news-pg .wk-table tbody tr td:last-child{text-align: center;}
.admin-wrapper .content .news-pg .wk-table tbody tr td:last-child .btn:first-child{margin-right: 10px;}
.admin-wrapper .content .news-pg .wk-table tbody tr td .btn{font-size: 12px;}

.admin-wrapper .content .reviews-pg .title{margin-top: 0;margin-bottom: 30px;}
.admin-wrapper .content .reviews-pg .wk-table{width: 100%;margin-top: 20px;}
.admin-wrapper .content .reviews-pg .wk-table th{text-align: center;padding: 12px;}
.admin-wrapper .content .reviews-pg .wk-table td{padding: 5px;font-size: 12px;}
.admin-wrapper .content .reviews-pg .wk-table th:first-child{width: 10%;}
.admin-wrapper .content .reviews-pg .wk-table th:nth-child(2){width: 20%;}
.admin-wrapper .content .reviews-pg .wk-table th:last-child{width: 20%;}
.admin-wrapper .content .reviews-pg .wk-table tbody tr td:nth-child(2){text-align: center;}
.admin-wrapper .content .reviews-pg .wk-table tbody tr td:last-child{text-align: center;}
.admin-wrapper .content .reviews-pg .wk-table tbody tr td:last-child .btn:first-child{margin-right: 10px;}
.admin-wrapper .content .reviews-pg .wk-table tbody tr td .btn{font-size: 12px;}


.wk-table{border: 1px solid #333;border: 3px solid #FFAE4D;}
.wk-table th{border: 2px solid #FFAE4D;}
.wk-table td{border: 2px solid #FFAE4D;}
.wk-table thead tr{color:  #b8c7ce;background: #222D32;}
.wk-table tbody tr{background: #fff;}
.wk-table tbody tr:hover{background: #ECF0F5;}

.wk-btn{width: 70px;font-size: 12px;}

.wk-err-msg{font-size: 12px;color:red;}
#password-mismatch-error{text-align: center;}

.admin-wrapper .modal .modal-dialog{margin-top: 120px;}

.admin-wrapper #deleteNews-modal .modal-dialog{width: 350px;}

.admin-wrapper #editBikeModel-modal .modal-dialog{width: 950px;margin-top: 40px;}

.admin-wrapper #specBikeModel-modal .modal-dialog{width: 900px;margin-top: 40px;}

.admin-wrapper #addNews-modal textarea{margin-bottom: 20px;}

.admin-wrapper #editNews-modal textarea{margin-bottom: 20px;}



.admin-wrapper #deleteReviews-modal .modal-dialog{width: 350px;}

.admin-wrapper #addReviews-modal textarea{margin-bottom: 20px;}

.admin-wrapper #editReviews-modal textarea{margin-bottom: 20px;}



/*Admin City css*/

.admin-wrapper .content .city-pg .title{margin-top: 0;margin-bottom: 30px;}
.admin-wrapper .content .city-pg .wk-table{width: 100%;margin-top: 20px;}
.admin-wrapper .content .city-pg .wk-table th{text-align: center;padding: 12px;}
.admin-wrapper .content .city-pg .wk-table td{padding: 5px;font-size: 12px;}
.admin-wrapper .content .city-pg .wk-table th:first-child{width: 10%;}
.admin-wrapper .content .city-pg .wk-table th:nth-child(2){width: 50%;}
.admin-wrapper .content .city-pg .wk-table th:nth-child(3){width: 20%;}
.admin-wrapper .content .city-pg .wk-table th:last-child{width: 20%;}
.admin-wrapper .content .city-pg .wk-table tbody tr td{text-align: center;}
.admin-wrapper .content .city-pg .wk-table tbody tr td .btn{font-size: 12px;}



/*Admin Area css*/

.admin-wrapper .content .area-pg .title{margin-top: 0;margin-bottom: 30px;}
.admin-wrapper .content .area-pg .wk-table{width: 100%;margin-top: 20px;}
.admin-wrapper .content .area-pg .wk-table th{text-align: center;padding: 12px;}
.admin-wrapper .content .area-pg .wk-table td{padding: 5px;font-size: 12px;}
.admin-wrapper .content .area-pg .wk-table th:first-child{width: 10%;}
.admin-wrapper .content .area-pg .wk-table th:nth-child(2){width: 30%;}
.admin-wrapper .content .area-pg .wk-table th:nth-child(3){width: 30%;}
.admin-wrapper .content .area-pg .wk-table th:nth-child(4){width: 10%;}
.admin-wrapper .content .area-pg .wk-table th:last-child{width: 20%;}
.admin-wrapper .content .area-pg .wk-table tbody tr td{text-align: center;}
.admin-wrapper .content .area-pg .wk-table tbody tr td .btn{font-size: 12px;}



/*Admin BikeMake css*/

.admin-wrapper .content .bikeMake-pg .title{margin-top: 0;margin-bottom: 30px;}
.admin-wrapper .content .bikeMake-pg .wk-table{width: 100%;margin-top: 20px;}
.admin-wrapper .content .bikeMake-pg .wk-table th{text-align: center;padding: 12px;}
.admin-wrapper .content .bikeMake-pg .wk-table td{padding: 5px;font-size: 12px;}
.admin-wrapper .content .bikeMake-pg .wk-table th:first-child{width: 10%;}
.admin-wrapper .content .bikeMake-pg .wk-table th:nth-child(2){width: 50%;}
.admin-wrapper .content .bikeMake-pg .wk-table th:nth-child(3){width: 20%;}
.admin-wrapper .content .bikeMake-pg .wk-table th:last-child{width: 20%;}
.admin-wrapper .content .bikeMake-pg .wk-table tbody tr td{text-align: center;}
.admin-wrapper .content .bikeMake-pg .wk-table tbody tr td .btn{font-size: 12px;}



/*Admin BikeModel css*/

.admin-wrapper .content .bikeModel-pg .title{margin-top: 0;margin-bottom: 30px;}
.admin-wrapper .content .bikeModel-pg .wk-table{width: 100%;margin-top: 20px;}
.admin-wrapper .content .bikeModel-pg .wk-table th{text-align: center;padding: 12px;}
.admin-wrapper .content .bikeModel-pg .wk-table td{padding: 5px;font-size: 12px;}
.admin-wrapper .content .bikeModel-pg .wk-table th:first-child{width: 10%;}
.admin-wrapper .content .bikeModel-pg .wk-table th:nth-child(2){width: 30%;}
.admin-wrapper .content .bikeModel-pg .wk-table th:nth-child(3){width: 30%;}
.admin-wrapper .content .bikeModel-pg .wk-table th:nth-child(4){width: 10%;}
.admin-wrapper .content .bikeModel-pg .wk-table th:last-child{width: 20%;}
.admin-wrapper .content .bikeModel-pg .wk-table tbody tr td{text-align: center;}
.admin-wrapper .content .bikeModel-pg .wk-table tbody tr td .btn{font-size: 12px;}
.admin-wrapper .content .bikeModel-pg .wk-table .bikeModel_edit_btn{margin-bottom: 5px;}



/*Admin Bike css*/

.admin-wrapper .content .bike-pg .title{margin-top: 0;margin-bottom: 30px;}
.admin-wrapper .content .bike-pg .wk-table{width: 100%;margin-top: 20px;}
.admin-wrapper .content .bike-pg .wk-table th{text-align: center;padding: 12px;}
.admin-wrapper .content .bike-pg .wk-table td{padding: 5px;font-size: 12px;}
.admin-wrapper .content .bike-pg .wk-table tbody tr td{text-align: center;}
.admin-wrapper .content .bike-pg .wk-table tbody tr td .btn{font-size: 12px;}



/*Admin User css*/

.admin-wrapper .content .user-pg .title{margin-top: 0;margin-bottom: 30px;}
.admin-wrapper .content .user-pg .wk-table{width: 100%;margin-top: 20px;}
.admin-wrapper .content .user-pg .wk-table th{text-align: center;padding: 12px;}
.admin-wrapper .content .user-pg .wk-table td{padding: 5px;font-size: 12px;}
.admin-wrapper .content .user-pg .wk-table tbody tr td{text-align: center;}
.admin-wrapper .content .user-pg .wk-table tbody tr td .btn{font-size: 12px;}



/*Admin ContactEnquiry css*/

.admin-wrapper .content .contactEnquiry-pg .title{margin-top: 0;margin-bottom: 30px;}
.admin-wrapper .content .contactEnquiry-pg .wk-table{width: 100%;margin-top: 20px;}
.admin-wrapper .content .contactEnquiry-pg .wk-table th{text-align: center;padding: 12px;}
.admin-wrapper .content .contactEnquiry-pg .wk-table td{padding: 5px;font-size: 12px;}
.admin-wrapper .content .contactEnquiry-pg .wk-table tbody tr td{text-align: center;}



/*Admin EmailSubscribe css*/

.admin-wrapper .content .esubscribe-pg .title{margin-top: 0;margin-bottom: 30px;}
.admin-wrapper .content .esubscribe-pg .wk-table{width: 100%;margin-top: 20px;}
.admin-wrapper .content .esubscribe-pg .wk-table th{text-align: center;padding: 12px;}
.admin-wrapper .content .esubscribe-pg .wk-table td{padding: 5px;font-size: 12px;}
.admin-wrapper .content .esubscribe-pg .wk-table tbody tr td{text-align: center;}



/*Admin Price css*/

.admin-wrapper .content .price-pg .title{margin-top: 0;margin-bottom: 30px;}
.admin-wrapper .content .price-pg .wk-table{width: 100%;margin-top: 20px;}
.admin-wrapper .content .price-pg .wk-table th{text-align: center;padding: 12px;}
.admin-wrapper .content .price-pg .wk-table td{padding: 5px;font-size: 12px;}
.admin-wrapper .content .price-pg .wk-table tbody tr td{text-align: center;}


/*Admin Booking css*/

.admin-wrapper .content .booking-pg .title{margin-top: 0;margin-bottom: 30px;}
.admin-wrapper .content .booking-pg .wk-table{width: 100%;margin-top: 20px;}
.admin-wrapper .content .booking-pg .wk-table th{text-align: center;padding: 12px;}
.admin-wrapper .content .booking-pg .wk-table td{padding: 5px;font-size: 12px;}
.admin-wrapper .content .booking-pg .wk-table tbody tr td{text-align: center;}
.admin-wrapper .content .booking-pg .booking_delete_btn{font-size: 12px;}
.admin-wrapper #deleteBooking-modal .modal-dialog{width: 350px;} 


.adminBikeAvailabilityError{font-size: 12px;color: red;text-align: center;}


.admin-wrapper .content .bikeFilter-pg .title{margin-top: 0;margin-bottom: 38px;}
.admin-wrapper .content .bikeFilter-pg .wk-table{width: 100%;margin-top: 30px;}
.admin-wrapper .content .bikeFilter-pg .wk-table th{text-align: center;padding: 12px;}
.admin-wrapper .content .bikeFilter-pg .wk-table td{padding: 5px;font-size: 12px;}
.admin-wrapper .content .bikeFilter-pg .wk-table tbody tr td{text-align: center;}
.admin-wrapper .content .bikeFilter-pg h3{font-size: 18px;font-weight: bold;text-transform: uppercase;margin-bottom: 15px;font-style: italic;}
.admin-wrapper .content .bikeFilter-pg #filter-form .form-group{margin-right: 15px;}
.admin-wrapper .content .bikeFilter-pg #user-details ul{padding: 0;}
.admin-wrapper .content .bikeFilter-pg #user-details ul li{display: inline-block;font-weight: bold;margin-right: 25px;}
.admin-wrapper .content .bikeFilter-pg #user-details h3{font-size: 18px;font-weight: bold;text-transform: uppercase;margin-bottom: 15px;margin-top: 30px;font-style: italic;}
.admin-wrapper .content .bikeFilter-pg #user-details ul li span{font-weight: normal;}
.admin-wrapper .content .bikeFilter-pg h4{font-size: 13px;font-weight: bold;margin-top: 40px;text-transform: uppercase;}
.admin-wrapper .content .bikeFilter-pg .wk-table2{margin-top: 15px;}
.admin-wrapper .content .bikeFilter-pg .wk-table1 tbody tr td:first-child{font-weight: bold;}

/* Ashutosh J*/
#date-error, #data-error{color: red;font-size: 12px;text-align: center;margin-top: 10px;}
.admin-wrapper .content .bikeModel-pg .wk-table td{
	height: 100px;
}
.admin-wrapper .content .bikeModel-pg .wk-table div.model-description{
  width: 100%; max-height: 100px; overflow:hidden; 
}

ul ul{
	list-style-type: none;
}

.button-group .dropdown-menu{
	left: 15px;
}

.admin-wrapper .content .bikeFilter-pg .form-group{margin-top: 5px;}
#bikethonvendor-wrapper .modal .modal-dialog
{
     margin-top: 20px;
}

.error{
 color:red;
 font-size: 12px;
    font-style: normal;
}
#vendor_signup_form .error{
    border: 1px solid red;
}

#vertical-menu {
    color: #b8c7ce;
    /*box-shadow: 
		0 5px 15px 1px rgba(0, 0, 0, 0.6), 
		0 0 200px 1px rgba(255, 255, 255, 0.5);*/
}
/*heading styles*/
 #vertical-menu h3 {
    font-size: 12px;
    line-height: 34px;
    padding: 0 10px;
    cursor: pointer;
    /*fallback for browsers not supporting gradients*/
    background: #1e282c;
}
/*heading hover effect*/
 #vertical-menu h3:hover {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}
/*iconfont styles*/
 #vertical-menu h3 span {
    font-size: 16px;
    margin-right: 10px;
}
/*list items*/
 #vertical-menu li {
    list-style-type: none;
}
/*links*/
 #vertical-menu ul ul li a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    line-height: 30px;
    display: block;
    padding: 0 15px;
    /*transition for smooth hover animation*/
    transition: all 0.15s;
}
/*hover effect on links*/
 #vertical-menu ul ul li a:hover {
    background: #1e282c;
    /*border-left: 5px solid lightgreen;*/
}
/*Lets hide the non active LIs by default*/
 #vertical-menu ul ul {
    display: none;
}
#vertical-menu li.active ul {
    display: block;
}