/*#preloader{
	width: 100%;
	background: #f5f5f5;
	height: 100%;
	position: fixed;
	z-index: 999;
}*/

.latest_news{
	  z-index: 2;
}

.homeslide li{
	position: absolute;
}

.extra-slider {
	overflow: visible;
}
.extra-slider,
.extra-slider .wrapper {
	margin: 0 auto;
	position: relative;
	z-index: 10;
}
.extra-slider .wrapper {
	overflow: hidden;
}
.extra-slider .wrapper > ul {
	display: block;
	list-style: none;
	position: relative;
}
.extra-slider .wrapper > ul > li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

.extra-slider-fade .wrapper > ul > li {
	position: absolute;
	top: 0; left: 0;
}

.prev,.next{
	z-index: 2;
}

.accordian_title{
	  display: inline-block;
  width: 100%;
  /* height: auto; */
  cursor: pointer;
}

.open_para{
	display: none;
}



.accordian_title.active span{
	background-position: -163px -39px;

}

@media screen and (min-width: 962px) { 

.plus_icon{
	cursor: pointer;
	transition: all 0.5s ease;
}

.plus_icon.active{
	transition: all 0.5s ease;
	transform: rotate(45deg);
}

body{
	overflow-x:hidden;
}

.navigation_main{
	z-index: 99;
}

.second_nav{
	background: #FFF;
}


.addfix{
	 transition: all 0.5s ease;
}

.addfix #subnav{
	top:50px;
}

#subnav{
	height: 236px;
	max-height: 236px;
}


.addfix .logo{
	transition: all 0.5s ease;
	width: 100px;
	top:0px;
}

.addfix .first_nav{
	transition: all 0.5s ease;
	  min-height: 0px;
	height: 0px;
	opacity: 0;
	  display: none;
}

.addfix .plus_icon{
	  margin: 4px 0 0 43px;
}

.addfix .second_nav{
	transition: all 0.5s ease;
	  min-height: 50px;
}

.addfix .second_nav ul{
	transition: all 0.5s ease;
	  padding-top: 20px;
}

.addfix .booking_number{
	transition: all 0.5s ease;
	padding: 20px;
}

.bike_rent{
	  right: -320px;
}

#bikes .item,#navbikes .item,#navbikes .itemh{
	  opacity: 0;
  transform: matrix(1, 0, 0, 1, 0, 50);
}

#fx .d1{
	opacity: 0;
	transform: matrix(1, 0, 0, 1, 0, 150);
}

.wicked_ride_main{
	background-attachment: fixed;
}

.home_slider{
	opacity: 1;
}

.accordian_title{
	  display: inline-block;
  width: 100%;
  /* height: auto; */
  cursor: pointer;
}

.open_para{
	display: none;
}



.accordian_title.active span{
	background-position: -163px -39px;

}

.gallery a{
	transform: matrix(0, 0, 0, 0, 0, 0);
}

.second_nav_open {
  background-color: #333333 !important;
  }

  #review .left{
  	opacity: 0; transform: matrix(1, 0, 0, 1, -200, 0);
  }

  #review .right{
  	opacity: 0; transform: matrix(1, 0, 0, 1, 200, 0);
  }

  .about_us_main{
  	background-attachment: fixed;
  }

  #f{
  	  position: relative;
  z-index: 2;
  }

}
