.header{
	padding-bottom: 55px;
    background-image: url('../images/wpp/bike1.jpg');
}
	body > div.container-fluid.clearfix.header > div.button4 > button{
   background-color: transparent !important;
    border-color: #eee;
    /*margin: 0px -120px;*/
    color: #eee;
}		
.image{
	    text-align: center;
        /*margin-top: 50px;*/
}
.text11{
	    margin-top: 25px;
    text-align: center;
}
.text21{
	margin-top: -10px;
    text-align: center;
        color: white;
}
.register1{
	text-align: center;
	    margin-top: 30px;
}
body > div.container-fluid.clearfix.header > div > div > div > div.text11 > h4{
	font-size: 30px;
	    color: white;
}
body > div.container-fluid.clearfix.header > div > div > div > div.text21 > h1{
	font-size: 60px;
    font-weight: 600;
}
.largeredbtn{
	border-radius: 4px;
	    background-color: #e85119 !important;
    /*width: 150px;*/
    /* display: inline-block; */
    font-size: 14px;
    font-weight: bold;
    /*padding: 12px 0;
    border: 0;*/
    color: white;
}
body > div.container-fluid.clearfix.header > div > div > div > div.register1 > a:hover{
	color: #eb8f2e;
    text-decoration: none;
}
.textsection{
	background-color: rgb(244, 242, 242);
	padding: 60px 0px 40px 0px;
}
.row{
	width: 100%;
	margin-right: 0px; 
    margin-left: 0px; 
}
.Maintext{
   color: #33414f;
   font-weight: 100;
   font-size: 38px;
   /*padding-right: 212px;
   padding-left: 212px;*/
   padding-bottom: 15px;
   text-align: center;

   
}
.subtext{
	padding: 0px 10px;
	text-align: center;
	font-size: 25px;
	opacity: .54;
	color: black;
	    /*padding-right: 250px;
    padding-left: 250px;*/
}
.descriptiontext{
	text-align: center;
	font-size: 16px;
	padding-top: 15px;
	opacity: .54;
	/*padding-right: 175px;
    padding-left: 175px;*/
    line-height: 2.5;
    color: black;
}
.punchlinetext{
	/*padding-right: 191px;
    padding-left: 191px;*/
    line-height: 2.5;
    color: #f5f5f5;
    text-align: center;
	font-size: 20px;
	padding-top: 60px;
	font-weight: 600;
}
.form1{
	text-align: center;
	margin-top: 25px;
	margin-bottom: 50px;
}
.btn-info{
	    background-color: #e85119 !important;
	width: 150px;
	/*display: inline-block;*/
	font-size: 14px;
	font-weight: bold;
	padding: 12px 0;
	border: 0;
	/*color: white;*/
    border-radius: 2px;
}
.btn-info:hover{
	color:  #eb8f2e;
	text-decoration: none; 
}
.modal-title{
	font-weight: bold;
}
.stepwizard-step p {
    margin-top: 10px;
    color: #e85119;
}
#myModal > div > div > div.modal-body > div > div > div:nth-child(1){
	width: 50%;
}
.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-home{
	background-color: rgba(255, 255, 255, 0) !important;
	border-color: #efefef;
    color: #fffdfd;
}
.btn{
	background-color: #e85119 !important;
	border-color: #e85119;
}
.control-label1{
	font-size: 14px;
}
h2{
	font-size: 18px;
	text-align: start;
}
.box1{
	display: inline-block;
	margin-left: 6px;
}
.text3{
	display: inline-block;
	padding-left: 20px;
}
.footend11{
	padding: 15px;
	text-align: center;
	/*margin-top: 120px;*/
}
.input
{
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0.88) !important;
	border: 1px solid #ccc;
	/*font-family: 'Roboto',sans-serif;*/
	width: 100%;
	margin-bottom: 10px;
	padding: 6px 12px;
	box-sizing: border-box;
	font-size: 14px;
	color: #555;
	/*color:#1abc9c;*/
}
.mob-no{
	width:100%;
}
.input-group-add{
	border-right: 0;
	background: #fff;
	padding:8px 12px;
	font-size: 14px;
	text-align: center;
	color: #555;
	border: 1px solid #ccc;
	border-radius: 4px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;

}
.form-control1{
	width: 90%;
	margin-left: -5px;
	border-right: 0;
	background: #fff;
	padding:6px 12px;
	font-size: 14px;
	/*text-align: center;*/
	color: #555;
	border: 1px solid #ccc;
	border-radius: 4px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.button1{
	text-align: center;
}
.btn1{
    background-color: #e85119 !important;
    width: 150px;
    font-size: 14px;
    border-color: #e85119 !important;
    font-weight: bold;
}
.input1
{
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0.88) !important;
	border: 1px solid #ccc;
	/*font-family: 'Roboto',sans-serif;*/
	width: 100%;
	margin-bottom: 10px;
	padding: 6px 12px;
	box-sizing: border-box;
	font-size: 14px;
	color: #555;
}
body > div.container-fluid.clearfix.registersection > div > div > div > div:nth-child(2) > form > button:nth-child(2) > a{
  color: #f5f5f5;
  font-size: 14px;
  text-decoration: none;
}
body > div.container-fluid.clearfix.registersection > div > div > div > div:nth-child(2) > form > button:nth-child(2) > a:hover{
   color: #f5f5f5;
  font-size: 14px;
  text-decoration: none;
}
/*.submit2{
	width: 150px;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 0;
	border: 1px solid #33414f;
	color: #f5f5f5;
	background-color: #e85119;
	display: inline-block;
	margin-left: 5px;
	border-radius: 2px;
	text-decoration: none;
}
.submit2:hover{
	color:  #eb8f2e;
	text-decoration: none;
}*/

/*body > div.container-fluid.clearfix.header > div > div > div.register1 > a:hover{
	color: #eb8f2e;
    text-decoration: none;
}*/
body > div:nth-child(5){
	background-color: lightgrey;
    padding-bottom: 50px;
}
body > div:nth-child(5) > div > div > div > h4{
	    font-size: 30px;
    text-align: center;
    padding: 20px 0px;
}
#step-2 > div.col-md-12{
	float:none;
}
.registersection{
	background-image: url('../images/wpp/bike2.jpg');
}
h3{
	color: black;
	margin: 5px 0;
	font-size: 16px;
	font-weight: bold;
}
.city-name{
	padding-top: 5px;
}
a{
	color: #999;
	font-size: 12px;
}
a:hover{
	color:#70ad4d;
	text-decoration:none;
}
.end-footer{
	    background: rgb(2, 4, 3);
}
.wrapper{
	/*width: 960px;*/
	margin:0 auto;
}
.copyright{
	/*color: #999;*/
	color: #eee;
    font-size: 14px;
    margin-top: 10px;
    padding: 15px 0px;
    text-align: center;
}
.number-circle1{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	padding-top: 6px;
	/*border: 3px solid white;*/
	background-color: #c1c3c7;
	text-align: center;
	float: left;
}
#f1{
	font-size: 20px;
	color:#323a45;
}
#c1{
	margin-left: 10px;
}
#c2{
	margin-left: 10px;
}
#c3{
	margin-left: 10px;
}
.social-media{
	/*background: url('../images/social-media.png') no-repeat;*/
	float: right;
	width: 180px;
}	
.has-error .onError{
	border: 2px solid #a94442;
}
.faq-header{
	width:100%;
	text-align: center;
	margin: 0 auto;
	    font-family: 'Open Sans',sans-serif;
}
.form2{
	/*text-align: center;*/
	margin-top: 15px;
}
body > div:nth-child(1) > div > div > div > div > img{
	margin-top: 50px;
}
.faq1{
	font-size: 20px;
    color: #fcf8e3;
    margin: 20px auto;
    font-weight: 600;
}
#purchasingthevehicle > h3{
	color:#33414f;
	font-size: 16px;
    color: #33414f;
    margin: 0 auto;
    /*padding: 0 40px 0 50px;*/
    text-align: justify;
    font-family: 'Open Sans',sans-serif;
    margin-bottom: 20px; 
    font-weight: 600;
}
#bikesoperation > h3{
	color:#33414f;
	font-size: 16px;
    color: #33414f;
    margin: 0 auto;
    /*padding: 0 40px 0 50px;*/
    text-align: justify;
    font-family: 'Open Sans',sans-serif;
    margin-bottom: 20px; 
    font-weight: 600;
}
#financialconsideration > h3{
	color:#33414f;
	font-size: 16px;
    color: #33414f;
    margin: 0 auto;
    /*padding: 0 40px 0 50px;*/
    text-align: justify;
    font-family: 'Open Sans',sans-serif;
    margin-bottom: 20px; 
    font-weight: 600;
}
.heading{
	font-weight: 600;
    margin-bottom: 20px;
}
.answer{
	margin-bottom: 40px;
}
a{
	cursor: pointer;
}
.largeredbtn{
	padding: 16px 40px 16px 40px !important;
}
.tp-caption.fullbg_gradient {
	/*background-color:#4A148C !important;*/
}
.input2{
	border-radius: 4px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    /* font-family: 'Roboto',sans-serif; */
    width: 300px;
    margin-top: 15px;
    padding: 8px 12px;
    box-sizing: border-box;
    font-size: 12px;
    color: #555;
    font-family: 'Gotham-Book';
    float: left;
}
.btn2{
	   background-color: #eee !important;
    /* width: 150px; */
    font-size: 14px;
    padding: 8px 16px;
    border-color: rgba(245, 245, 245, 0.27) !important;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.33);
    margin-left: 15px;
    margin-top: 15px;
    float:left;
}
body > div.container-fluid.clearfix.footer-bg > div > div > div > div > i{
	color: rgba(234,91,31,1);
    margin-left: 10px;
    margin-top: 20px;
    display: inline-block;
    font-size: x-large;
    float: left;
}
.btn2:hover{
	color:#1f1e1e;
	text-decoration: none;
}
body > div.container-fluid.clearfix.end-footer > div > div > div > div > div > a{
	color: #221def;
}
.contact-details{
	background: rgba(0, 0, 0, 0.75);
}
body > div.container-fluid.clearfix.contact-details > div > div > div > div.mob-no > p > a{
	width: 200px;
    float: right;
    /*color: #eb952e;*/
    font-size: 18px;
    color: #eb952e;
    /*padding: 0px -12px;*/
    font-size: 18px;
    margin-right: 270px;
    margin-top: 10px;
    margin-bottom: 15px;
}
body > div.container-fluid.clearfix.end-footer > div > div > div > div > div > a{
	color: #ff8d05;
    text-decoration: none;
}
#myModal1 > div > div > div > embed{
	width: 100%;
}
 body {
      position: relative;
  }
  .affix {
      top:0;
      width: 100%;
      z-index: 9999 !important;
  }
  .navbar {
      margin-bottom: 0px;
  }

  .affix ~ .container-fluid {
     position: relative;
     top: 0px;
  }
  .knowcontent{
  	background-image: url('../images/wpp/bike2.jpg');
  	padding:20px 0px;
  }
  #section1 {
  	padding-top:30px;
  	color: #333; 
  background-color: lightgrey;
}
  #section2 {
  	padding-top:30px;
  	color:#333; 
  background-color: darkgrey;
}
  #section3 {
  	padding-top:30px;
  	color:#333; 
  background-color: lightgrey;
}
.navbar-inverse {
	background-color: darkgrey;
    border-color:#ada4a4;
}
.navbar-inverse .navbar-brand {
    color: black;
 }
.navbar-inverse .navbar-brand:hover{
	color:black;
} 

  body > nav > div > div.navbar-header > a{
  	color: black;
    font-size: 18px;
    font-weight: bolder;
  }
  #myNavbar > ul > li:nth-child(1) > a{
  	color: #e85119;
    font-size: 16px;
    font-weight: bolder;
    /*background-color: #f5f5f5;*/
  }
  #myNavbar > ul > li:nth-child(2) > a{
  	color: #e85119;
    font-size: 16px;
    font-weight: bolder;
    /*background-color: #f5f5f5;*/
  }
	#myNavbar > ul > li:nth-child(3) > a{
	color: #e85119;
    font-size: 16px;
    font-weight: bolder;
    /*background-color: #f5f5f5;*/
	}
	.navbar {
    border-radius: 0px; 
}
body > div.container-fluid.knowcontent > div > div.button4 > button{
  background-color: transparent !important;
    border-color: #eee;
   /* margin: 0px -120px;*/
    color: #eee;
}
@media screen and (max-width:500px) {
    .row{
	    width:100%;
	    box-sizing: border-box;
    }
   body > div.container-fluid.clearfix.header >div.button4 > button{
	    background-color: transparent !important;
    border-color: #eee;
    /*margin: 0px -44px; */
    color: #eee;
}
    body > div.container-fluid.clearfix.header > div > div > div > div.text11 > h4{
    	font-size: 20px;
    }
    body > div.container-fluid.clearfix.header > div > div > div > div.text21 > h1{
    	font-size: 40px;
    }
    body > div.container-fluid.clearfix.textsection > div > div{
    	margin-right: 0px; 
    margin-left: 0px; 
    }
    .Maintext{
    font-size: 28px;
    /*padding: 30px 0px;*/
    }
    .subtext{
    font-size: 15px;
    }
    .descriptiontext{
    font-size: 10px;
    line-height: 1.5;
    opacity: 0.7;
    }
    .punchlinetext{
   	font-size: 12px;
    line-height: 1.5;
    padding-top: 10px;
    }
    body > div:nth-child(4) > div > div > div > h4{
    	font-size: 25px;
    }
    .input2{
    	width: 100%;
    	text-align: center;
    }
    .wrapper{
    	width:100%;
    	margin: 0 auto;
    }
    .faq-header{
    	width: 100%;
    }
    .form2{
    margin-top: 30px;
	}
	body > div:nth-child(2) > div > div{
		margin-right: 0px;
    margin-left: 0px;
	}
	.faq1{
	/*font-size: 20px;*/
    color: white;
	}
	.btn-info {
    background-color: #e85119 !important;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 0;
    border: 0;
    border-radius: 2px;
	}
	.submit2 {
    font-size: 14px;
    font-weight: bold;
    padding: 10px 35px;
    border: 1px solid #33414f;
    color: #f5f5f5;
    background-color: #e85119;
    display: inline-block;
    margin-left: 0px;
    border-radius: 2px;
    text-decoration: none;
        margin-top: 5px;
	}
	.form-control1{
		    width: 80%;
	}
	.punchlinetext{
	padding-top: 30px;
	font-weight: 600;
	}
	.form1{
	text-align: center;
	/*margin-top: 25px;*/
	margin-bottom: 30px;
	}
  .knowcontent{
    /*background-image: url('../images/bike2.jpg');*/
    padding:10px 0px;
  }
}