/*added*/
*
{
margin:0px;
padding:0px;
}
html,body
{
height:100%;
width:100%;
}
body
{
background-color:#fff;
color:#fff;
font-family: 'sans-serif';
width: 100%;
height: 100%;
    -webkit-font-smoothing: antialiased;
}

h5{
  font-size: 18px;
  text-transform: uppercase;
}
h5{
  font-size: 14px;
  text-transform: uppercase;
}
h1{
  font-family: 'sans-serif';
  text-transform: uppercase;
}
img{
border:0;
outline: none;
}
.clear_both{
clear: both;
}
li{
list-style: none;
}
a{
outline: none;
text-decoration: none;
}
p{
font-family: 'sans-serif';
font-size: 18px;
  line-height: 22px;
}
.main{
width: 100%;
height: 100%;
}

.width_960{
  max-width: 960px;
  margin:0 auto;
  position:relative;
}


.about_us_main h2{
  color: #fff;
  text-align: center;
}
.about_us_main{
  background: url('../images/about-us-bg.jpg');
  width: 100%;
  min-height: 660px;
  background-position: center top;
  background-size: cover;
  /*padding-top: 30px;*/
  background-repeat: no-repeat;
}
.about_us_main .reservation_main{
  padding-top: 110px;
}
.review_main .h1-clear, .contact_main .h1-clear, .about_us_main .h1-clear{
  color: white;
}
.h1-clear{
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  color: black;
  /*padding: 35px 0 20px 0;*/
  padding-top: 30px;
}
.about_para{
  line-height: 36px !important;
  text-align: center !important;
  border-bottom: #d7d7d7 solid 1px;
  padding-bottom: 2px;
  margin-bottom: 10px;
  /*margin-top: 20px;*/
}
.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
}
.myButton:active {
	position:relative;
	top:1px;
}
.notification_img {
    width:90%;
}
