@media screen and (min-width:767px) and (max-width: 768px){
  .booking_bike_white .fleet_bikes li,.book_bike_fleet li{
  width: 33%;
}
  .tech_sec, .gallery_sec{
    width: 50%;
  }
}
@media screen and (min-width:320px) and (max-width: 500px){
  .date{
    font-size: 12px;
  }
  .testimonial_copy .common_btn_small{
    float: left;
    margin-top: 10px;
  }
  h4{
    line-height: 19px;
    font-size: 20px;
  }
  .ride_thumb{
    height: 144px;
  }
  .ride_details li{
    width: 100%;
  }
  .ride_details li{
    width: 100%;
  }
  .accessories_sec ul li{
    width: 50%;
    padding-bottom: 30px;
  }
  .booking-success-tb {
    width: 100%;
    margin: 30px auto;
  }
}
@media screen and (min-width:501px) and (max-width: 640px){
    h4{
    line-height: 20px;
    font-size: 20px;
  }
  .ride_details li{
    width: 50%;
  }
  .accessories_sec ul li{
    width: 50%;
    padding-bottom: 30px;
  }
}
@media screen and (min-width:320px) and (max-width: 640px){
  .xdsoft_datetimepicker{
    //top: 625px !important;
    position: fixed !important;
  }
  .width_more{
    padding: 0;
    width: 100% !important;
  }
  .booking_bike_white ul li{
    display: block;
  }
  .banner_nav .prev{
    left: 10px;
  }
  .banner_nav .next{
    right: 10px;
  }
  .date_time_main .break_line{
    float: left;
    display: block;
  }
  .date_time_main .date_time:last-child{
    float: left;
  }
  .latest_news{
    font-size: 11px;
    display: none;
  }
  .book_now{
    min-height: 100px;
    padding:10px;
  }
  .booking_bike_white .book_bike_fleet li{
    width: 100%;
    margin-top: 10px;
  }
  .booking_bike_white .booking_date_main .celect_city{
    margin: 0 !important;
  }
  .footer_main .subscribe input{
    width: 100%;
  }
  .our_fleet_sec .titles{
    display: none;
  }
  .fleet_bikes li{
    margin: 10px;
  }
  .date_to{
    float: none;
  }
  .booking_date_main .celect_city label{
    width: 100%;
  }
  .booking_date_main .celect_city{
    margin-top: 0;
  }
  .rent_details .article_copy{
    width: 100%;
    margin-top: 15px;
  }
  .circle_rating{
    float: left;
    margin: 5px 0 0 0;
  }
  .map_bg .celect_city{
    width: 100%;
  }
  .celect_city_main{
    margin-top: 20px;
  }
  .map_main{
    height: 400px;
  }
  .founder_inside p{
    min-height: 100%;
  }
  .founders li{
    width: 100%;
  }
  .about_para{
    line-height: 26px !important;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .tech_sec, .gallery_sec{
    width: 100%;
  }
  h1 {
    font-size: 20px;
    line-height: 20px;
  } 
  h1 small {
      font-size: 20px;
      line-height: 20px;
  }
  h1.h1-clear {
      line-height: 27px;
      font-size: 20px;
  }
  .motorcycle_banner li{
    height: 300px;
  }
  .testimonials_main .common_btn_big, .featured_article_main .common_btn_big{
    float: left;
    margin-top: 10px;
  }
  .testimonials_main h4, .featured_article_main h4{
    float: left;
  }
  h2{
    font-size: 26px;
  }
  .ride_details h2{
    line-height: 23px;
  }
  .our_fleet_sec .titles li a{
  padding: 0 6px;
  margin: 0 6px;
  font-size: 12px;
  }
  .article_copy h5{
    font-size: 13px;
  }
  p{
    font-size: 11px;
    line-height: 20px;
  }
  h6{
    font-size: 12px;
  }
  .form li{
    width: 100%;
  }
  .reserve_sec{
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: #666 solid 1px;
  border-right: none;
  width: 100%;
  }
  .copy_rights{
    font-size: 9px;
  }
  .booking-success-tb {
    width: 100%;
    margin: 30px auto;
  }
  #main_slider .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 0;
    left: 10%;
    top: -35px;
    color: #000;
    text-align: left;
    text-shadow: none;
  }

}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

    menu>ul{
      height: 194px !important;
    }

}


@media screen and (min-width:320px) and (max-width: 768px){
  .cd-tabs-content li.selected{
    padding: 0 !important;
  }
  .date_picker, .time_picker{
    width: 100% !important;
    margin: 10px 0;
  }

  .date_sec_main{
    display: inline-block;
    width: 100%;
  }
  .footer_main .subscribe input{
    text-align: center;
  }
  .booking_steps ul li a div{
        clear: both;
    margin-top: 5px;
  }
  .booking_steps ul li a span{
    float: none;
  }
  .booking_steps ul li{
    text-align: center;
  }
  .accessories_sec ul li{
    padding-top: 10px;
  }
  .break_line{
    float: none;
    margin: 15px 5px;
    width: 15px;
  }
  .width_more{
    margin: 0 !important;
  }
  .white_patch{
    display: none;
  }
  .testimonials_main, .featured_article_main, .faq_main{
    padding: 10px 0;
  }
  body, html{
    overflow-x:hidden;
    position: relative; 
  }

  .home_slider li {
  /*height: 350px;*/
  }

  .banner_content{
    transform: scale(0.6);
    -webkit-transform:scale(0.6);
    -moz-transform:scale(0.6);
    -ms-transform:scale(0.6);
     -o-transform:scale(0.6);
      margin-top: 0px;
  }
  /*nav*/
  #wrapper {
    display: block;
  }

  label {
    cursor: pointer;
  }
  label:focus {
    outline: none;
  }

  .menu {
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    width: 280px;
    height: 100%;
    z-index: 1001;
     transform: translate3d(280px, 0, 0);
      -webkit-transform:translate3d(280px, 0, 0);
      -moz-transform:translate3d(280px, 0, 0);
      -ms-transform:translate3d(280px, 0, 0);
      -o-transform:translate3d(280px, 0, 0);
      transition: transform 0.35s;
      -webkit-transition:transform 0.35s;
      -moz-transition:transform 0.35s;
      -o-transition:transform 0.35s;
      -ms-transition:transform 0.35s;

  }
  .bike_margin li {
        text-transform: uppercase;
      font-family: 'Gotham-Black';
      color: #878787;
      font-size: 14px;
      transition: all .2s;
      -webkit-transition: all .2s;
      -moz-transition: all .2s;
      -ms-transition: all .2s;

      line-height: 14px;
  }
  .menu>ul{
    background-color: #fff;
    height: 100%;
    overflow-y: scroll;
  }
  .menu ul li{
    text-align: center;
  }
  .bike_margin li{
    margin: 25px 0px;
  }
  .menu ul li .common_btn_small a{
    line-height: normal;
    padding: 0;
  }
  .menu label.menu-toggle {
    position: absolute;
    right:280px;
    width: 60px;
    height: 60px;
    line-height: 0px;
    display: block;
    padding: 0;
    text-indent: -9999px;
    background: #fff url(../img/menu-mobile.png) 50% 50%/25px 25px no-repeat;
  }
  .menu ul li > label {
    background: url(../images/next-icon.png) 84% 50%/16px 16px no-repeat;
  }
  .menu ul li a, .menu ul li label {
    display: block;
    text-align: center;
    padding: 0 20px;
    margin: 40px 0;
    text-decoration: none;
    color: #000;
  }
  .menu ul li a:hover, .menu ul li label:hover {
    color: #666;
  }

  /* hide inputs */
  .menu-checkbox {
    display: none;
  }

  /* hide navigation icon for sublabels */
  .menu .menu label.menu-toggle {
    background: none;
    top: -40px;
  }

  /* fade in checked menu */
  .menu-checkbox:checked + .menu {
    transform: translate3d(0, 0, 0);
     -webkit-transform:translate3d(0, 0, 0);
      -moz-transform:translate3d(0, 0, 0);
      -ms-transform:translate3d(0, 0, 0);
  }
  /*menu nav ends*/
  .left_radio{
    padding:0 0 30px 0;
    display: inline-block;
    text-align: center;
    width: 100%;
  }
  .selection_radio{
    float: none;
  }
  .radio_select label{
    float: none;
  }
  .booking_date_main .celect_city select{
    background-color: #fff;
  }
  .date_to{
    display: block;
  }
  .celect_city label:before{
    top: -3px;
  }
  .gallery a{
    float: none;
    display: block;
  }
  .ride_details{
    margin: 60px 0 0px -8px;
  }
  .our_fleet_sec .titles li{
    margin-top:10px;
    margin-bottom: 10px; 
  }
  .our_fleet_sec .titles li a{
  padding: 0 10px;
  margin: 0 10px;
  font-size: 13px;
  }
  .booking_number{
    padding: 15px 33px;
  }
  .common_btn_big span{
      background-position: -44px -37px;
      width: 13px;
  }
  .common_btn_big a{
    font-size: 12px;
  }
  .second_nav .width_960{
    padding:0;
  }
  .footer_main form{
      text-align: center;
  width: 100%;
  overflow: hidden;
  }
  .booking_number,.celect_city{
    float: none;
    text-align: left;
  }
  .call_icon{
    right: 20px;
    top: 50%;
    margin-top: -14px;
    left: auto;
    bottom: auto;
  }
  .first_nav ul, .second_nav ul{
    display: none;
  }
  .celect_city{
    height: 63px;
    margin-right: 60px;
    margin-top:0px;
  }
  .first_nav{
    min-height: 100px;
    background-color: #fff;
  }
  .celect_city select{
    width: 100%;
    background: #f5f5f5;
    padding: 15px 38px 15px 15px;
  }
  .footer_main .subscribe input{
    float: none;
  }
  .click_top{
    display: none;
  }
  .reserve_sec h5{
    font-size: 12px;
  }
  .footer_main .common_btn_big span{
    margin-bottom: -5px;
  }
  .footer_main .common_btn_big{
    display: inline-block;
    float: none;
  }
  .footer_nav ul li{
    float: none;
    margin: 10px 0;
  }
  .footer_nav{
    float: none;
    clear: left;
    text-align: center;
    width: 100%;
  }
	 .width_960{
    max-width: 100%;
    padding: 0 30px;
  }
  .articles_sec li{
    width: 100%;
  }
  .testimon_sec li{
    padding-bottom: 30px;
    width: 100%;
  }
  .bike_rent{
    max-width: 100%;
    margin:0 30px;
    position: relative;
    top: inherit;
    right: inherit;
  }
  .common_btn_small a{
    font-size: 12px;
  }
  .logo{
    width: 100px;
    left: 0;
        top: 18px;
  }
  .logo img{
    width: 100%;
    margin-top: 0px;
  }
  .ride_details li{
    padding: 0 0 20px 8px;
  }
  .circle_rating{
    width: auto;
    height: auto;
    padding:20px;
    font-size: 12px;
  }
  .rent_details .min_height{
    min-height: 100px;
  }
  .booking-success-tb{
    width: 100%;
    padding: 30px;
    margin: 30px auto;
  }
  #tariff-pg .discount-image img{max-width: 300px;}
}
@media screen and (min-width:641px) and (max-width: 768px){
  .width_more{
    width: 38%;
  }
  .rent_details .thumbnail{
    width: 250px;
  }
  .rent_details .article_copy {
  width: calc(100% - 410px);
}

  h4{
    font-size: 22px;
    line-height: 22px;
  }
  .accessories_sec ul li{
    width: 50%;
    padding-bottom: 30px;
  }
  .motorcycle_banner li{
    height: 400px;
  }
  .article_copy h5{
    font-size: 14px;
  }
  .testimonials_main h4, .featured_article_main h4{
    line-height: 24px;
    width: 50%;
  }
  h2{
    font-size: 30px;
  }
  .ride_details h2{
    line-height: 25px;
  }
  p{
    font-size: 11px;
    line-height: 18px;
  }
  h6{
    font-size: 12px;
  }
  
  h1 small{
    font-size: 30px;
  }
  h1{
    font-size: 50px;
    line-height: 37px;
  }
}
@media screen and (min-width:1620px) and (max-width:1720px){

.logo {
    position: absolute;
    top: 63px;
       left: 14%;
    /* z-index: 10; */
}
}

@media screen and (min-width:767px) and (max-width:1580px){

.logo {
    position: absolute;
    top: 54px;
       left:3%;
    /* z-index: 10; */
}

}


@media screen and (min-width:1450px) and (max-width:1700px){

.logo {
    position: absolute;
    top: 54px;
       left:3%;
    /* z-index: 10; */
}
}
@media(max-width: 767px){
  .wicked_ride_main {
    background-repeat: no-repeat;
    position: inherit; 
  }
  .pad-left-right{
    padding-left: 0;
    padding-right: 0;
  }
}

@media(max-width: 767px){
  .menu>ul {
    background-color: #fff;
    height: 100%;
    overflow-y: scroll !important;
  }
}


/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

   /* .menu>ul {
      background-color: #fff;
      height: 195px;
      overflow-y: scroll !important;
    }
    */

}
