/* fonts */
 
@font-face {
    font-family: 'gotham_bookregular';
    src: url('../fonts/gotham-book_0-webfont.woff2') format('woff2'),
         url('../fonts/gotham-book_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham_lightregular';
    src: url('../fonts/gotham-light-webfont.woff2') format('woff2'),
         url('../fonts/gotham-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/**/
body {
	font-family: 'gotham_bookregular';
}
img {max-width: 100%;}
.row {
	padding: 0;
	margin: 0;
}
a {
    color: #757575;
    text-decoration: none;
}
h1 {
	font-family: 'gotham_bookregular';
	font-size: 36px;
	text-transform: uppercase;
	color: #333538;
}

.profile {
	background: no-repeat 0 0; 
	background-size: 100% 100%;
	padding: 50px 0;
}
.profilePic {
	border:5px solid #eb952e;
	border-radius: 50%;
	margin: 0 50px;
}
.profileBg {
	position: relative;
}

h1.userName{
	font-family: 'gotham_bookregular';
	font-size: 48px;
	color: #fff;
	line-height: 55px;

}
.homepage h1.userName{
	font-family: 'gotham_bookregular';
	font-size: 58px;
	color: #fff;
	line-height: 55px;
	margin-left: 445px;
    margin-right: 445px;
    margin-top: -314px;
    right: 31px;
}
.profileDetail button {
	background: #fff;
	height: 55px;
	width: 55px;
	border-radius: 50%;
	text-indent: -9999px;
}
#myform-register .error, #myform-login .error{color: red;font-size: 12px;padding-left: 5px;}
.profileDetail form {display: inline;}
.profileDetail button.settings {background: #fff url(../images/sprite.png) no-repeat 4px 0px;}
.profileDetail button.bulbBtn {background: #fff url(../images/sprite.png) no-repeat 8px -97px; position: relative;}
.profileDetail button.bulbBtn .notiIcon {
	background: #eb952e;
    height: 12px;
    width: 12px;
    display: inline-block;
    position: absolute;
    top: 5px;
    right: -2px;
    border-radius: 5px;
}
.userContact ul {
	padding: 0;
	margin-top: 70px;
}
.userContact ul li{
	list-style: none;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	margin: 0 45px; 
	position: relative;
}
.userContact ul li:before{
	content: '';
	position: absolute;
	height: 30px;
	width: 30px;
	margin-left: -35px;
	background: url(../images/sprite.png) no-repeat;
}
.homepage_title ul li::before{
	content: '';
	position: absolute;
	height: 30px;
	width: 30px;
	margin-left: -35px;
}
.homepage_title .mobile::before{
	background-position: -5px -308px;
}
.homepage_title ul {
	padding: 0;
	margin-top: 30px;
}
.homepage_title ul li{
	list-style: none;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	margin: 0 45px; 
	position: relative;
	font-size:16px;

}
.userContact .email a{
	color: #fff;
}
.userContact .email a:hover{
	color: #eb952e;
}
.userContact .address:before{
	background-position: -5px -209px;
}
.userContact .mobile:before{
	background-position: -5px -308px;
}
.userContact .email:before{
	background-position: -9px -408px;
}

.utibox {
	float: left;
	width: 30%;
	min-height: 250px;
	padding: 40px 0;
}
.searchbox {
	height:38px;
	
}
.search_text {
    background-image: url("../../assets/images/search.png");
    background-position: 50px center;
    background-repeat: no-repeat;
    height: 38px;
    padding-left: 90px;
    width: 100%;
    width: 100%;
    border: none;
}
.searchbox .btn{padding: 6px 15px;border: none;}
.btn {
    padding: 12px 15px;
    }
.amount-text{    
    font-size: 14px;
    color: #768694;
    margin-bottom: 20px;
    display: block;
    float: left;
    line-height: 32px;
    margin-left: 20px;
    }
    span.amount {
    float: left;
}
.search_button{
	width:50%;
	float:left;
}
.search_filer, .search_filer_viewby{
	float: left;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 11px;
    width: 25%;
}
.search_filer > img {
    float: left;
}
.search_filer > h5 {
    border: 1px solid;
    float: left;
    width: 159px;
}
.search_filer > img {
    float: left;
}
.utibox_search {
	float: left;
	width: 100%;
	min-height: 250px;
	padding: 40px 0;
}
.wickedRide_search{
	 padding-left: 25px;
    padding-right: 25px;
    position: relative;
}

.utibox.utiHistory {
	padding: 0;
}
.utibox.utiHistory,
.utibox.remeningRides {
	width: 20%;
}

.utilityBoxes {
	background: #f1f3f6;
}
.remeningRides{
	background: #eb952e;
	position: relative;
	text-align: center;
}
a.iconQuery {
	position: absolute;
	top: 20px;
	right: 20px;
}
.remeningRides span{
	color: #fff;
	font-size: 72px;
	font-family: 'gotham_lightregular';
	border: solid 2px #fff;
	border-radius: 50%;
    padding: 10px 30px;
    display: inline-block;
}
.remeningRides p{
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'gotham_bookregular';
	margin: 20px 0 0 0;
}

.annuMemberShip {
	padding: 38px 60px;

}
.annuMemberShip h2{
	font-size: 18px;
	color: #eb952e;
	text-transform: uppercase;
	margin: 0;
}
.annuMemberShip p{
	font-size: 16px;
	color: #333538;
	line-height: 25px;
	margin: 20px 0 40px 0;
}
a.readmore{
	font-size: 14px;
	text-transform: uppercase;
	color: #333538;
	text-decoration: none;
}
a.readmore:hover{
	color: #eb952e;
}
.arrowLhs {
	background: url(../images/arrowLhs.png) no-repeat 0 0;
	padding: 5px 0 7px 35px;
}
.wickedRide {
	padding-left: 60px;
	padding-right: 60px;
	border-right: solid 3px #DEE0E8;
	position: relative;
}
.searchbar {
	padding-left: 60px;
	padding-right: 60px;
	position: relative;
    min-height: 250px;
    width: 100%;
}
.wickedRide p{
	font-size: 16px;
	color: #333538;
	line-height: 25px;
	margin: 0;
}
.wickedRide h2{
	font-size: 72px;
	color: #eb952e;
	margin: 0;
	font-family: 'gotham_lightregular';
}
.wickedRide h2.iconWallet {
	background: url(../images/wallet.png) no-repeat 0 19px;
	padding: 5px 0 7px 70px;
}



.bookRide {
	text-align: center;
	padding: 30px 0;
}
.bookRide h1 {
	margin-bottom: 30px
}
.bookRideWrap {
	max-width: 940px;
	margin: 0 auto;
}
.bookRideWrap .col-sm-4 {
	border-radius: 15px;
	border: solid 1px #c9cbce;
	margin: 0 10px;
	width: 31%;
	padding: 30px 0 44px 0;
	position: relative;
}
.bookRideWrap h2,
.bookRideWrap h3 {
	margin: 0;
}
.bookRideWrap h2 {
	font-size: 72px;
	font-family: 'gotham_lightregular'
}
.bookRideWrap h3 {
	font-size: 24px;
	text-transform: uppercase;
}
.bookRideWrap .col1 h2 {
	color: #eb952e;
}
.bookRideWrap .col2 h2 {
	color: #99cc33;
}
.bookRideWrap .col3 h2 {
	color: #ef3c39;
}
.bookRideWrap .col-sm-4 span {
	border-radius: 50%;
    background: #f3f3f3;
    position: absolute;
    left: 50%;
    bottom: -24px;
    text-indent: -9999px;
    height: 54px;
    width: 54px;
    margin-left: -26px;
}
.bookRideWrap .col1 span{background: #eb952e url(../images/sprite.png) no-repeat 23px -496px;}
.bookRideWrap .col2 span{background: #99cc33 url(../images/sprite.png) no-repeat 10px -603px;}
.bookRideWrap .col3 span{background: #ef3c39 url(../images/sprite.png) no-repeat 15px -699px;}
.bookRideViewBox {
	border-radius: 15px;
    width: 67%;
    margin: 0 auto;
    height: 61px;
    position: relative;
    z-index: 1;
    border-left: solid 2px #c9cbce;
    border-right: solid 2px #c9cbce;
    border-bottom: solid 2px #c9cbce;
}
.bookRideBoxes {
	position: relative;
	z-index: 2;
}
.bookRideViewBox span.curImg{
	background: url(../images/bookRideCurve.jpg) no-repeat 0 0;
	position: absolute;
    left: 50%;
    width: 22px;
    height: 117px;
    margin-left: -11px;
    top: 22px;
}
.bookRideViewBox a.rideShow {
	position: absolute;
	border-radius: 50%;
	left: 50%;
	top: 130px;
	height: 54px;
    width: 54px;
	background: #515356 url(../../assets/images/sprite.png) no-repeat 14px -811px;
    margin-left: -26px;
}
.text-shade
{
	margin:0 60px;
	background: transparent url(../../assets/images/layerIcon.png) left top;
}
.text-shade_e
{
	    margin: 0px 40px;
  /*  background: transparent url(../../assets/images/layerIcon.png) center;*/
    padding: 9px;
    width: 78%;
}
.text-shade_b
{
	    width: 60%;
    /*background: transparent url(../../assets/images/layerIcon.png) center;*/
    margin: 70px auto;
}
.header .profileDetail:hover{
	    background-color: rgba(8,17,18,0.5);
}
.driverID {
	margin: 30px 0;
}
.driverID .col1,
.driverID .col3{
	width: 36.5%;
	padding: 50px 70px 20px 70px;
	min-height: 260px;
}
.driverID .col1{
	background: #eb952e;
}
.driverID .col2{
	width: 26.9%;
	padding: 0;
}
.driverID .col3{
	background: #515356;
}
.driverID h1 {
	color: #fff;
	margin:0 0 18px 0;
}
.driverID p {
	color: #fff;
	font-size: 16px;
	margin-bottom: 25px;
}
.driverID .appBg {
	position: relative;
}
.driverID .appBg {
	position: relative;
}
.driverID a.appBtn {
	background: #99cc33;
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	position: absolute;
	z-index: 1;
    bottom: 45px;
    left: 50%;
    margin-left: -60px;
    border-radius: 15px;
    padding: 7px 22px;
    border: 0;
}
.driverID a.appBtn:hover{
	background: #EB952E;
}

.referFriend p{
	font-size: 16px;
	margin: 20px 0;
}
.sendMail {
	position: relative;

}
.sendMail label{
	color: #eb952e;
	font-size: 16px;
	font-weight: normal;
}
.sendMail .emailIcon{
	background: url(../images/sprite.png) no-repeat -5px -1063px;
	height: 20px;
    width: 27px;
    display: inline-block;
    position: absolute;
    left: 18px;
    top: 42px;
    z-index: 1;
}
.sendMail .form-control{
	position: relative;
	padding-left: 55px;
}
.sendMail .subBtn {
	position: absolute;
    top: 37px;
    right: 14px;
    height: 30px;
    width: 30px;
    background: url(../images/sprite.png) no-repeat 0px -945px;
    text-indent: -9999px;
    border: 0 none;
    border-radius: 0;
}

.form-control {
	border-radius: 10px;
	border: solid 2px #c9cbce;
	height: 50px;
    font-size: 16px;
}

.social {
	margin: 50px 0;
}
.social p {
	color: #eb952e;
	font-size: 16px;
}
.social ul li{
	display: inline-block;
	list-style: none;
	margin-right: 50px;
}

.social a{
	color: #333538;
	font-size: 16px;
	text-decoration: none;
	padding: 3px 0 6px 30px;
	background: url(../images/sprite.png) no-repeat;
}
.social a:hover{
	color: #eb952e;
}

.social ul {
	padding-left: 0;
}
.social ul li.fb a {
	background-position: 0 -1160px;
}
.social ul li.twitter a {
	background-position: 0 -1248px;
	padding-left: 37px;
}
.social ul li.tmlr a {
	background-position: 0 -1347px;
}
.referShare {
	background: #f1f3f6;
	text-align: center;
	padding: 20px 0;
	margin: 30px 0;
}
.referShare p{
	color: #333538;
}
.referShare p a{
	color: #eb952e;
	text-decoration: none;
}

.userModel {

}
.userModel .modal-body{
	padding: 0 0 30px 0;
}
.userModel .row1 {
	background: #f2f3f7;
}
.userModel .form-horizontal .form-group {
	margin: 8px 0;
	position: relative;
}
.userModel .form-group .calenderIcon,
.userModel .form-group .openEye,
.userModel .form-group .closedEye{
	background: url(../images/sprite.png) no-repeat -5px -1063px;
    height: 25px;
    width: 30px;
    display: inline-block;
    position: absolute;
    right: 24px;
    top: 46px;
    z-index: 1;
}
.userModel .form-group .calenderIcon {background-position: -3px -1446px;}
.userModel .form-group .openEye {background-position: 0px -1549px;}
.userModel .form-group .closedEye {background-position: 0px -1642px;}

.divCenter {
	margin: 0 auto;
	float: none;
}
.modal-header {
	position: absolute;
    z-index: 1;
    top: -50px;
    right: -1px;
    border: solid 2px #E4E3E3;
    border-radius: 50%;
    padding: 5px 9px;
}
.modal-header .close{
	opacity: 1;
	color: #E4E3E3;
	text-shadow: none;
}
.modal-content {
	border-radius: 0;
    border: 0 none;
    border-top:solid 10px #eb952e;
}
.packgepopup .modal-content {
    border-radius: 0;
    border: 0 none;
    border-top: none;
}
.packgepopup .modal-body {
    padding: 0 0 50px 0;
}
.userModel.packgepopup .modal-dialog {
    width: 64%;
    margin: 60px auto 60px auto;
}
.userModel .proPic{
	padding: 0;
}
.userModel .form-horizontal .control-label{
	text-transform: uppercase;
	color: #333538;
	font-size: 14px;
	font-weight: normal;
	padding-bottom: 5px;
}
.userModel .form-horizontal .control-label .starIcon{
	color: #e7932d;
}
.userModel input,
.userModel select{
	color: #e7932d;
	font-size: 15px;
	background-color: transparent;
}
.userModel .btnUpdate {
	background: #515356;
	text-transform: uppercase;
	font-size: 18px;
	border: none;
    padding: 10px 17px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.userModel .righCol {
	width: 68%;
    margin-left: 3%;
}
.userModel .modal-dialog {
  	width: 80%;
  	margin: 60px auto 60px auto;
}
.bookingList {
	margin-top: 122px;
	position: relative;
}
.bookingList:before {
	content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 2px solid #c9cbce;
}
.bookingList ul {
	padding-left: 0;
}
.bookingList ul li {
	list-style: none;
	width: 50%;
	display: inline-block;
	margin: 18px 0;
	position: relative;
	transition: all .5s;
}
.bookingList ul {clear: both}
.bookingBoxContent {
	background: #f1f3f6;
	border-radius: 15px;
	padding: 20px 0;
	position: relative;
	margin-right: 55px;
}
.bookingBoxContent:after{
	content: '';
	position: absolute;
	width: 0px;
    height: 0px;
    border-top: 0px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 28px solid #f1f3f6;
    right: -28px;
    top: 29px;
}
.bookingList .title{
	text-align: left;
	padding: 0 15px 0 20px;
}
.bookingList .title .thumbImg {
	display: inline-block;
	float: left;
	margin-right: 15px;
}
.bookingList .title h3 {
	font-size: 18px;
	color: #333538;
	display: inline-block;
	text-transform: none;	
	font-weight: bold;
	line-height: 25px;
}
.bookingList .title h3 span{
	color: #eb952e;
	display: block;
	text-transform: uppercase;
}

.bookingPeriod {
	background: #515356;
	padding: 12px 0 3px 0;
    margin: 20px 0;
}
.bookingPeriod span{
	display: inline-block;
}
.bookingPeriod span i,
.bookingPeriod span em {
	display: block;
	font-size: 14px;
	text-transform: uppercase;
	font-style: normal;
	color: #fff;
}
.bookingPeriod span em{
	font-size: 20px;
}
.bookingPeriod span.starts{
	text-align: right;
}
.bookingPeriod span.ends{
	text-align: left;
}
.bookingPeriod span.to{
	font-size: 14px;
	text-transform: uppercase;
	background: #eb952e;
	height: 46px;
	width: 46px;
	border-radius: 50%;
	color: #fff;
	line-height: 46px;
    margin: 0 33px;
    position: relative;
    z-index: 2;
    top: -10px;
}
.bookingPeriod span.to:before{
	content: '';
	position: absolute;
	height: 2px;
	background: #eb952e;
	width: 80px;
	left: -39%;
    top: 22px;
	z-index: -1;
}
.bookingBoxContent .address {
	font-size: 16px;
}
.bookingBoxContent .address i{
	background: url(../images/icon-map.png) no-repeat 0 0;
	width: 18px;
    height: 25px;
    display: inline-block;
    padding: 0 0 0 35px;
    text-indent: -9999px;
}

.bookingList .completed .title h3 span {color: #99cc33;}
.bookingList .completed .bookingPeriod span.to,
.bookingList .completed .bookingPeriod span.to:before {background: #99cc33;}
.bookingList .completed .bookingBoxContent .address i {background: url(../images/icon-map.png) no-repeat 0 -102px;}

.bookingList .cancelled .title h3 span {color: #ef3c39;}
.bookingList .cancelled .bookingPeriod span.to,
.bookingList .cancelled .bookingPeriod span.to:before {background: #ef3c39;}
.bookingList .cancelled .bookingBoxContent .address i {background: url(../images/icon-map.png) no-repeat 0 -205px;}

.bookingList ul li.completed:before {background: #99cc33;}
.bookingList ul li.cancelled:before {background: #ef3c39;}

.bookingList li {
	float: left;
}
.bookingList li.secondOne {
	margin-top: 100px;
}
.bookingList li.odd {
	margin-left: 0;
	margin-top: -80px;
}
.bookingList li.firstOne {
	margin-top: 0;
}
.bookingList li.even .bookingBoxContent {
	margin-right: 0;
    margin-left: 55px;
}
.bookingList li.even .bookingBoxContent:after {
	left: -27px;
    border-top: 0 solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 28px solid #F1F3F6;
    right: 0;
    border-left: 0;
}
.bookingList ul li span.bookingPoint {
	content: '';
	position: absolute;
	height: 30px;
	width: 30px;
	background: #fff;
	left: -15px;
	top: 20px;
	border-radius: 50%;
	border:solid 2px #c9cbce;
}
.bookingList ul li.odd span.bookingPoint{
	right: -15px;
	left: initial;
}
.bookingList ul li span.bookingPoint:before {
	content:'';
	position: absolute;
    height: 14px;
    width: 14px;
    background: #eb952e;
    top: 6px;
    left: 6px;
    border-radius: 50%;
}
.bookingList ul li.completed span.bookingPoint:before {background: #99cc33;}
.bookingList ul li.cancelled span.bookingPoint:before {background: #ef3c39;}

.bookingList a.editbook {
	background: url(../images/icon-editRide.png) no-repeat 0 0;
	width: 26px;
    height: 6px;
    display: inline-block;
    text-indent: -9999px;
    position: absolute;
    right: 20px;
}

a.loadMore {
	background: #fff;
	border:solid 2px #c9cbce;
	color: #333538;
	font-size: 18px;
	text-transform: uppercase;
	padding: 12px 30px;
    border-radius: 10px;
}
a.loadMore:hover{
	color: #EB952E;
	background: #F1F3F6;
	border:solid 2px #c9cbce;
}

.bookingList ul li .bookRideHover{
	text-align: center;
	display: none;
	transition: all .5s;
}
.bookingList ul li:hover .bookRideHover {
	display: block;
	transition: all .5s;
	background: rgba(235, 149, 46, .9);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    z-index: 2;
    transition: all .5s;
}

.bookRideHover ul {
	display: inline-block;
    position: absolute;
    left: 50%;
    margin-left: -130px;
    top: 78px;
}
.bookRideHover ul li {
	display: inline-block;
    width: auto;
    float: none;
    margin: 0 10px;
}
.bookRideHover ul li a{
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	background: url(../images/icons-update.png) no-repeat 0 0;
	height: auto;
    width: auto;
    padding: 70px 10px 0 10px;
    display: block;
    text-decoration: none;
     transition: all .5s
}
.bookRideHover ul li a:hover{opacity: 0.7; transition: all .5s}
.bookRideHover ul li.cancel a{background-position: 13px -190px;}
.bookRideHover ul li.delete a{background-position: 13px -389px;}

.bookingList ul li:hover .bookingBoxContent:after {border-left-color:rgba(235, 149, 46, .9)}
.bookingList ul li.even .bookingBoxContent:after {border-left-color:rgba(235, 149, 46, .9)}



.popBox2 .modal-content {
	border-top: 0;
	text-align: center;
}
.popBox2 .modal-dialog {
	margin-top: 100px;
}
.popBox2 .popBoxWrapper {
	padding: 23px 40px 0 40px;
}
.popBox2 h1 {
	color: #e7932d;
	margin: 25px 0;
}
.popBox2 h2 {
	color: #e7932d;
	margin: 25px 0;
	font-size: 18px;
	font-weight: bold;
}
.popBox2 p{
	color: #333538;
	font-size: 16px;
	line-height: 22px;
}

@media (max-width: 768px) {
  .item-item1, .item, .item-item2 {
    width: 100% !important;
}
}
@media (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 1260px;
    padding: 0;
  }
}
@media (min-width: 992px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 100%;
  }
}


@media (max-width: 1200px) {
	.social { margin: 30px 0;}
	.social ul li {margin-left: 0; margin-right: 20px;}
	.wickedRide {padding-left: 30px;}
	.annuMemberShip { padding: 38px 28px;}
	.driverID .col1,
	.driverID .col3{
		padding: 20px 20px 0 20px;
		min-height: 211px;
	}
	.driverID a.appBtn {bottom: 15px;}

}


/* Consider as 768 */
@media (max-width: 990px) {
	.userContact ul li {margin: 0 30px;}
	.utilityBoxes .utibox {width: 50%;}
	.utiHistory {text-align: center;}
	.bookRideWrap .col-sm-4 {margin: 0 8px}
	.driverID .col1,
	.driverID .col2,
	.driverID .col3{
		width: auto;
		min-height: auto;
	}
	.userModel .righCol {
		width: auto;
		width: 92%;
    	margin-left: 4%;
	}
	.userModel .proPic {
	    padding: 0;
	    background: #565658;
	    text-align: center;
	}

	.bookingList li.odd {padding-left: 10px;}
	.bookingList li.even {padding-right: 10px;}
	.bookingPeriod span.to {margin: 0 20px;}
	.bookingList .title h3 {font-size: 15px; margin-top: 10px;}
}

@media (max-width: 767px) {
	.container {padding-left: 0; padding-right: 0;}
	.userContact ul {display: inline-block; margin-top: 30px;}
	.userContact ul li {font-size: 13px; margin: 0 20px}
	.userContact ul li:before {margin-left: -31px;}
	.bookRideWrap .col-sm-4 {float: left; width: 30%;}
	.bookRideViewBox {left: -6px; width: 65%;}
	.driverID .col1, 
	.driverID .col2, 
	.driverID .col3 {
		display: inline-block;
	}


	.bookingList ul li {float: none; width: auto;}
	.bookingList li.secondOne {margin-top: 18px;}
	.bookingList li.odd {margin-top:  18px}
	.bookingBoxContent:after{
		left: -27px;
	    border-top: 0 solid transparent;
	    border-bottom: 30px solid transparent;
	    border-right: 28px solid #F1F3F6;
	    right: 0;
	    border-left: 0;
	}
	.bookingList ul li.odd span.bookingPoint {
		right: 0;
		left: -15px;
	}
	.bookingBoxContent {
		margin-right: 0;
    	margin-left: 55px;
	}
	.bookingList li.odd {
	    padding-left: 0; 
	    padding-right: 10px;
	}
	
	.bookingList {
		width: 390px;
		margin-left: auto;
		margin-right: auto;
	}
	.bookingList:before {
		left: 0;
	    border: 2px solid #c9cbce;
	    width: 50%;
	    border-right-color: transparent;
	    top: -25px;
    	bottom: 25px;
    	border-radius: 15px;
	}

}
@media (max-width: 500px) {
	h1.userName {font-size: 40px;}
	h1 {font-size: 30px;}
	.social ul li {margin: 16px 0; display: block;}
	a.readmore {font-size: 12px;}
	.profilePic {margin: 10px 45px; }
	.userContact ul li { display: block; margin: 12px 20px;}
	.utilityBoxes .utibox {width: 100%; border-bottom: solid 1px #D8D8D8;}
	.bookRideWrap .col-sm-4 {margin: 0 auto 30px auto; float: none; width: 90%;}
	.bookRideViewBox {top: -30px;}
	.bookRideWrap { padding-bottom: 70px}
	.userModel .form-horizontal .form-group {width: 100%;}
	.userModel .righCol {width: auto; width: 100%; margin-left: 0;}
	.userModel .modal-dialog { width: 90%; margin-left: 3%;}

	.bookingList {width: auto;	}
	.bookingList:before {left: 15px; top: -55px; }
	.bookingList ul li.odd span.bookingPoint,
	.bookingList ul li span.bookingPoint {left: 0;}
	a.loadMore {font-size: 13px; padding: 12px 15px}
	.bookingList .title {text-align: center;}
	.bookingList .title .thumbImg {float: none;}
	.bookingPeriod span i {font-size: 11px;}
	.bookingPeriod span em {font-size: 14px}
	.bookRideHover ul {margin-left: -105px;} 
	.bookRideHover ul li {margin: 0 2px}

}
container {
  max-width: 100%;
}

.item {
    width: 390px;
    float: left;
    position: relative;
    height: 350px;
    overflow: hidden; 
}
.item-item1{
    width: 435px;
    float: left;
    position: relative;
    height: 350px;
    overflow: hidden; 
}
.item-item2{
    width: 630px;
    float: left;
    position: relative;
    height: 350px;
    overflow: hidden; 
}

.item {
    width: 390px;
    float: left;
    position: relative;
    height: 350px;
    overflow: hidden; 
}
.item-item1{
    width: 435px;
    float: left;
    position: relative;
    height: 350px;
    overflow: hidden; 
}
.item-item2{
    width: 630px;
    float: left;
    position: relative;
    height: 350px;
    overflow: hidden; 
}


.item img, .item-item1 img, .item-item2 img  {
  display: block;
  width: 100%;
  height: inherit;
}

button { font-size: 18px; } 
.details {
    color: #fff;
    height: 350px;
    /* margin-top: -389px; */
    position: absolute;
    width: 100%;
    top: 0px;
    padding: 50px 0px;
}
.dropdown-toggle.btn .caret {
    margin-left: .3em;
    background: url("../../assets/images/right.png");
    width: 28px;
    height: 22px;
    background-repeat: no-repeat;
    border: none;
}
.viewby-main {
    width: 100%;
    line-height: 38px;
    height: 38px;

}
.viewby {
    margin-right: 22px;
    margin-left:50px;
}
img.list {
    margin-right: 8px;
}
.bottom-details {
    /* background: red; */
    position: absolute;
    bottom: 10px;
    z-index: 100;
    display: block;
    text-align: center;
    width: 100%;
}
span.bookridetext{font-family: 'gotham_bookregular';}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #e9993b;
    text-decoration: none;
    background-color: #f3f3f3;
}

.details-block{display: none;}
.details:hover .details-block {
    background: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    color: #eb952e;
    z-index: 100;
    opacity: 0.9;
    width: 100%;
    height: 100%;
        position: absolute;
    top: 0;
    display: block;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    background-color: #f2a654;
    border-color: transparent;
    border-bottom-color: #f2a654;
}
.nav-tabs {
    border-bottom: 5px solid #f2a654;
}
.m-v {
    padding-top: 15px;
    padding-bottom: 15px;
}
.bigstar {
    position: relative;
    z-index: 0;
}
center.bigtext {
   position: absolute;
    top: 96px;
    left: 70px;
    font-size: 12px;
    width: 41%;
}
.form-control {
    border-radius: 10px;
    border: solid 2px #c9cbce;
    height: 50px;
    font-size: 16px;
    color: #f2a654;
}
.mega-border {
    border-top: 10px solid #eb952e;
}
.breadcrumb {
    margin-bottom: 0px;
    height: 45px;
    line-height: 28px;
        cursor: pointer;
}
.p-v-lg{padding: 20px 0px;}
.p-v-lg{padding: 30px 0px;}
span.one{
    background: white;
    border-radius: 100%;
    padding: 1px 8px;
    color: #f2a654;
    margin-right: 5px;
}
li.active a span.one {
    background: #ffffff;
    border-radius: 100%;
    padding: 1px 8px;
    color: #f2a654;
    margin-right: 5px;
}
li a span.one {
    background: #f2a654;
    border-radius: 100%;
    padding: 1px 8px;
    color: #ffffff;
    margin-right: 5px;
}
li.active a span.two {
    background: #ffffff;
    border-radius: 100%;
    padding: 1px 6px;
    color: #f2a654;
    margin-right: 5px;
}
li a span.two {
    background: #f2a654;
    border-radius: 100%;
    padding: 1px 6px;
    color: #ffffff;
    margin-right: 5px;
}
#tabs li a {
    font-size: 20px;
    padding: 9px 20px;
    margin-right: 0px;
}
.nav-tabs>li:active {
    float: left;
    margin-bottom: -1px;
    background: white;
}
#tabs li{
    background: #ffffff;
}
.carousel-inner>.item {
    width: 100%;
    height: 100%;
}
.carousel-indicators-fall li:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    content: '';
    background-color: rgb(242, 166, 84);
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: opacity .3s ease 0s,visibility 0s ease .3s;
    -o-transition: opacity .3s ease 0s,visibility 0s ease .3s;
    transition: opacity .3s ease 0s,visibility 0s ease .3s;
    -webkit-transform: translate(0,-200%);
    -ms-transform: translate(0,-200%);
    -o-transform: translate(0,-200%);
    transform: translate(0,-200%);
}
.carousel-indicators li {
    margin: 3px;
    background-color: rgba(60, 60, 60, 0.82);
    border: none;
}
.btn.active, .btn:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #757575;
    color: white;
}
.btn:hover, .btn:focus {
    background: #757575;
    color: #ffffff;
}
.btn-outline.btn-default.active, .btn-outline.btn-default:active, .btn-outline.btn-default:focus, .btn-outline.btn-default:hover, .open>.dropdown-toggle.btn-outline.btn-default {
    color: #76838f;
    background: #ffffff;
    border-color: #e4eaec;
}
/*img#list_div {
    background: url('../../assets/images/list.png');
    width: 24px;
    height: 25px;
}
img#Grid_div, img#list_div:hover{
    background: url('../../assets/images/grid.png');
    width: 24px;
    height: 25px;
}*/
.fa.fa-th-large.active:hover, .fa.fa-bars.active:hover{color: #eb952e;}
.fa.fa-th-large.active:focus, .fa.fa-bars.active:focus{color: #eb952e;}
#Grid_div, i.list {
    font-size: 20px;
    margin-right: 8px;
	color: #969696;
}
#Grid_div{color: #eb952e;}

i.fa.fa-chevron-circle-down {
    font-size: 17px;
}
.btn-group.open i.fa.fa-chevron-circle-down {transform:rotate(-180deg);}
.dropdown-menu>li>a .fa-user:hover, .dropdown-menu>li>a .fa-tag:hover, .dropdown-menu>li>a .fa-star:hover, .dropdown-menu>li>a .fa-map-marker:hover{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #eb952e;
    color: transparent;
}
.dropdown-menu>li>a .fa-user, .dropdown-menu>li>a .fa-tag, .dropdown-menu>li>a .fa-star, .dropdown-menu>li>a .fa-map-marker{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #666;
    color: transparent;
}
.breadcrumb a {
    color: #c1c1c1;
    text-decoration: none;
}
.breadcrumb a.active {
    color: #585858;
    text-decoration: none;
}
.carousel-indicators {
    position: absolute;
    top: 45%;
    left: 7%;
    z-index: 15;
    width: 0%;
    padding-left: 0;
    margin-left: 0%;
    text-align: center;
    list-style: none;
}
.fa-chevron-circle-right:before {
    content: "\f138";
    position: absolute;
    top: -55px;
    right: -184px;
    font-size: 20px;
}
@media screen and (min-width: 768px){
.carousel-indicators {
    left: 7%;
    top: 40%;
}
}

@media screen and (max-width: 460px){
.carousel {
    position: relative;
    height: 280px;
    overflow: hidden;
}
.breadcrumb {
    margin-bottom: 0px;
    height: 70px;
    line-height: 28px;
    cursor: pointer;
}
.userModel.packgepopup .modal-dialog {
    width: 91%;
    margin: 60px auto 60px auto;
}
}
