@font-face {
  font-family: 'Gotham-Black';
  src: url('../fonts/Gotham-Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gotham-Black.otf')  format('opentype'),
       url('../fonts/Gotham-Black.woff') format('woff'), url('../fonts/Gotham-Black.ttf')  format('truetype'), url('../fonts/Gotham-Black.svg#Gotham-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gotham-Book.otf')  format('opentype'),
       url('../fonts/Gotham-Book.woff') format('woff'), url('../fonts/Gotham-Book.ttf')  format('truetype'), url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}



/*========================body==============================*/
body {
  	font-size: 14px;
  	height: 100%;
    width: 100%;
font-family: 'Gotham-Book';
}

html {
   	width: 100% ;
    height: 100% !important;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    position: relative;
}








/*========================FONT-SIZE==========================*/

.f13 {font-size: 13px;}
.f14 {font-size: 14px;}
.f15 {font-size: 15px;}
.f16 {font-size: 16px;}
.f17 {font-size: 17px;}
.f18 {font-size: 18px;}
.f19 {font-size: 19px;}
.f20 {font-size: 20px;}
.f21 {font-size: 21px;}
.f22 {font-size: 22px;}
.f23 {font-size: 23px;}
.f24 {font-size: 24px;}
.f25 {font-size: 25px;}
.f26 {font-size: 26px;}

/*======================FONT-WEIGHT===========================*/

.f100  {  font-weight: 100;}
.f300  {  font-weight: 300;}
.f400  {  font-weight: 400;}
.f500  {  font-weight: 500;}
.f600  {  font-weight: 600;}
.f700  {  font-weight: 700;}
.f900  {  font-weight: 900;}

/*=========================SPACING=============================*/	

.space0   {    margin-top: 0px  !important;   }
.space5   {    margin-top: 5px  !important;   }
.space10  {    margin-top: 10px  !important;  }
.space20  {    margin-top: 20px  !important;  }
.space25  {    margin-top: 25px  !important;  }
.space30  {    margin-top: 30px  !important;  }
.space40  {    margin-top: 40px  !important;  }
.space50  {    margin-top: 50px  !important;  }
.space60  {    margin-top: 60px  !important;  }
.space70  {    margin-top: 70px  !important;  }
.space80  {    margin-top: 80px  !important;  }
.space90  {    margin-top: 90px  !important;  }
.space100 {    margin-top: 100px !important;  }

.space183 {    margin-top: 183px !important;  }
.no-space {    margin: 0 !important;
               padding: 0 !important;}

.pad-left0 {  padding-left: 0 !important;  }
.pad-right0{  padding-right: 0 !important; }
.pad0      {  padding: 0 !important;       }





/*==============START MAIN CSS=============*/



#pre-header{
  background: #f5f5f5;
}

.pre-links li {
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}

.pre-links{
  margin-top: 10px;
}

.pre-links a {
    color: #2e2e2e;
    font-size: 12px;
}

.pre-links a:hover{
  color: #ec962b;
  -webkit-transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.pre-links ul {
    margin-bottom: 0;
    padding-left: 0;
}


.our_fleet_sec {
    padding: 40px 0;
    background-color: #f5f5f5;
}

.our_fleet_sec h2, .wicked_ride_main h2 {
    text-align: center;
    color: #2e2e2e;
    font-weight: 100;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 60px;
    font-family: 'GOTHAM-LIGHT';
}

.our_fleet_sec .titles {
    text-align: center;
    margin: 20px;
}

.our_fleet_sec .titles li {
    display: inline-block;
    border-right: #2e2e2e solid 1px;
}

.our_fleet_sec .titles li a {
    padding: 0 20px;
    margin: 0 20px;
    font-family: 'GOTHAM-BLACK';
    font-size: 14px;
    text-transform: uppercase;
    color: #2e2e2e;
    letter-spacing: 1px;
}

.our_fleet_sec .titles li a, .first_nav ul li a, .second_nav ul li a, .edit_option a {
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
}

.fleet_bikes {
    text-align: center;
}

.fleet_bikes li {
    display: inline-block;
    margin: 0px 10px;
}

li {
    list-style: none;
}

.fleet_bikes a {
    text-transform: uppercase;
    font-family: 'GOTHAM-BLACK';
    color: #878787;
    font-size: 14px;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    line-height: 14px;
}

.fleet_bikes a img, .book_bike_fleet img {
    max-width: 200px;
}


.fleet_bikes a:hover img {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
}

#navbikes a, .fleet_bikes a img {
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
}

.common_btn_small {
    text-align: center;
    margin-top: 10px;
    overflow: hidden;
    display: inline-block;
}

.common_btn_small span {
    background-image: url(../img/icons.png);
    background-repeat: no-repeat;
    width: 8px;
    height: 14px;
    background-position: -47px -42px;
    /* float: left; */
    margin-right: 5px;
    display: -webkit-inline-box;
    float: left;
}

.wicked_ride_main {
    background-attachment: fixed;
}
.wicked_ride_main {
    background-image: url(../img/bg.jpg);
}
.wicked_ride_main {
    /* background-image: url(../images/wicked-ride-bg.jpg); */
    background-repeat: no-repeat;
    width: 100%;
    min-height: 650px;
    background-size: cover;
    padding: 20px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.coming_soon {
    color: #fff;
    font-family: 'Coffee-Script';
    font-size: 76px;
    margin-top: 88px;
    text-align: center;
}

.wicked_ride_main h2 {
    color: #fff;
}

.testimonials_main, .featured_article_main {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: width .3s ease-out;
    transition: width .3s ease-out;
    overflow: hidden;
}

.testimonials_main h4, .featured_article_main h4 {
    text-align: left;
    float: left;
    padding-top: 5px;
}

h4 {
    font-size: 30px;
    font-family: 'GOTHAM-LIGHT';
    color: #2e2e2e;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 30px;
}

.testimonials_main .common_btn_big, .featured_article_main .common_btn_big {
    text-align: right;
    border-top: #d7d7d7 solid 1px;
    padding-top: 10px;
    float: right;
}

.common_btn_big span {
    background-image: url(../img/icons.png);
    background-repeat: no-repeat;
    width: 21px;
    height: 24px;
    background-position: -15px -36px;
    margin-right: 5px;
    display: -webkit-inline-box;
    float: left;
}

.common_btn_big a {
    float: left;
    text-transform: uppercase;
    font-family: 'GOTHAM-BLACK';
    color: #2e2e2e;
    margin-top: 4px;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 0.7px;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    line-height: 17px;
}



.common_btn_big_white span {
    background-image: url(../img/icons.png);
    background-repeat: no-repeat;
    width: 21px;
    height: 24px;
    background-position: -15px -36px;
    margin-right: 5px;
    display: -webkit-inline-box;
    float: left;
}

.common_btn_big_white a {
    float: left;
    text-transform: uppercase;
    font-family: 'GOTHAM-BLACK';
    color: #fff;
    margin-top: 4px;
    display: inline-block;
    font-size: 20px;
    letter-spacing: 0.7px;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    line-height: 17px;
}



.testimon_sec div {
    float: left;
    /* padding: 0 0 10px 10px; */
    position: relative;
    color: #2e2e2e;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: width .3s ease-out;
    transition: width .3s ease-out;
    margin: 15px 0;
}

.testimon_sec li .profile {
    float: left;
    width: 105px;
    margin-right: 10px;
}
.banner_content .common_btn a {
    color: #000;
}
.common_btn a {
    text-transform: uppercase;
    font-family: 'Gotham-Black';
    color: #fff;
    margin-top: 3px;
    display: inline-block;
}

/*.testimon_sec li img {
    border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
}*/

.testimonial_copy {
    display: inline-block;
    width: -moz-calc(100% - 115px);
    width: -webkit-calc(100% - 115px);
    width: calc(100% - 115px);
}

p {
    font-family: 'GOTHAM-LIGHT';
    font-size: 14px;
    line-height: 22px;
    color: #2e2e2e;
}

.testimonial_copy p {
    padding: 0 10px;
}

.testimonial_copy .profile_name {
    margin-top: 20px;
    float: left;
    font-size: 13px;
    font-weight: bold;
    font-style: italic;
}

.articles_sec {
    margin-top: 20px;
}

.articles_sec li {
    background-color: #f5f5f5;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: width .3s ease-out;
    transition: width .3s ease-out;
    float: left;
    margin-bottom: 2px;
}

.articles_sec .profile1 {
    float: left;
    width: 105px;
    margin-right: 10px;
}

.article_copy {
    color: #2e2e2e;
    overflow: hidden;
    width: -moz-calc(100% - 100px);
    width: -webkit-calc(100% - 100px);
    width: calc(100% - 115px);
}

.articles_sec .grey_bg{
    background-color: #f5f5f5;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: width .3s ease-out;
    transition: width .3s ease-out;
    float: left;
    margin-bottom: 2px;
    width: 100%;
}

.article_copy h5 {
    font-size: 19px;
    font-style: italic;
}

.common_btn_small a:hover {
    color: #000;
}

.common_btn_small a {
    text-transform: uppercase;
    font-family: 'Gotham-Black';
    color: #878787;
    display: inline-block;
    font-size: 14px;
    float: left;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    line-height: 14px;
}
.map iframe{
    pointer-events: none;
}
.faq_main {
    padding: 4px 0px 30px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: width .3s ease-out;
    transition: width .3s ease-out;
    margin-top: 30px;
    background-color: #f5f5f5;
}
.accordion-toggle:after {
    font-family: 'FontAwesome';
    content: "\f078";
    float: right;
    color: #eb952e;
}

.accordion-opened .accordion-toggle:after {    
    content: "\f054";    
}

.accordion a {
    color: #282828;
    font-size: 16px;
    font-family: 'GOTHAM-LIGHT';
    font-style: italic;
}

.accordion a:hover {
    text-decoration: none;
}

.accordion-heading{
  border-top: 1px solid #ccc;
  padding: 10px 0; 
}

.accordion-inner{
    font-family: 'GOTHAM-BLACK';
    font-size: 13px;
    line-height: 22px;
}

.map_bg {
    background: url(../img/mapbg-transparent.png);
    width: 100%;
    height: 150px;
    background-repeat: repeat-x;
    background-position: 0 0;
    z-index: 2;
    position: absolute;
    padding: 40px 0 30px 0;
}

.map_bg h4 {
    text-align: center;
    color: #fff;
}

.map_bg .celect_city {
    width: 100%;
    padding: 0;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: width .3s ease-out;
    transition: width .3s ease-out;
    margin-top: 40px;
}

.celect_city {
    float: right;
    margin-top: -49px;
}

.celect_city label {
    position: relative;
    width: 100%; 
}

.map_bg .celect_city label:before {
    top: 0;
}
.celect_city label:before {
    content: '';
    right: 10px;
    top: 14px !important;
    width: 20px;
    height: 20px;
    /* background: #f8f8f8; */
    position: absolute;
    pointer-events: none;
    display: block;
    background-image: url(../img/icons.png);
    background-repeat: repeat;
    background-position: 36px -37px;
}


/*.map_bg .celect_city select {
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px -moz-border-radius:5px;
}*/
#subnav h4 {
    font-size: 30px;
    font-family: 'GOTHAM-LIGHT';
    color: #ffffff;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 30px;
    text-align: center;
}
.celect_city select {
    margin: 0;
    background: #fff;
    color: #000;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 100%;

    box-sizing: border-box;
        padding: 13px 26px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Gotham-Black';
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.celect_city label:after {
    content: '';
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 8px;
    top: 2px;
    padding: 0 0 2px;
    border-bottom: 1px solid #ddd;
    position: absolute;
    pointer-events: none;
    background-image: url(../img/icons.png);
    background-repeat: repeat;
    background-position: 20px -37px;
}

.form_main {
    background-image: url(../img/form_bg.png);
    background-repeat: repeat;
    width: 100%;
    height: auto;
    padding: 20px 0;
}
.form-inline .form-control
{
    height: 41px;
    background-color: #f5f5f5;
}
.form_main .form-control{
  height: 50px;
}
.form-inline .btn.btn-default {
    border: none;
    background: none;
    color: #333;
    font-weight: bold;
}

.form_main textarea{
  height: auto !important;
}

.form .common_btn_big {
    text-align: center;
    display: inline-block;
    margin-bottom: 10px;
}

.register .common_btn_big a{
  color: #fff !important; 
}

.common_btn_big span {
    background-image: url(../img/icons.png);
    background-repeat: no-repeat;
    width: 21px;
    height: 24px;
    background-position: -15px -36px;
    /* float: left; */
    margin-right: 5px;
    display: -webkit-inline-box;
    float: left;
}

.submit {
    background: none;
    border: none !important;
    color: #fff;
    text-transform: uppercase;
    font-family: Gotham-Black;
    font-size: 14px;
    margin-top: 5px;
    cursor: pointer;
}

.border_top {
    border-top: #666 solid 1px;
    padding-top: 20px;
    margin-top: 20px;
    display: inline-block;
}

.form_main .common_btn_big {
    text-align: center;
    display: inline-block;
    margin-bottom: 10px;
}

.register .common_btn_big {
    display: inline-block;
    margin: 0 30px;
}


.reservation_main {
    background-color: #000;
    padding: 20px 0;
    padding-bottom: 22px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.click_top {
    width: 50px;
    height: 50px;
    background-image: url(../img/icons.png);
    background-repeat: repeat;
    position: absolute;
    right: 30px;
    bottom: 10px;
    background-position: -95px -66px;
}

.reserve_sec {
    width: 100%;
    text-align: center;
    border-right: #666 solid 1px;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
}

.reserve_sec1 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
}

.reserve_sec h5, .reserve_sec1 h5 {
    color: #eb952e;
    font-family: 'Gotham-Bold';
    font-size: 18px;
}

.reserve_sec h5 a, .reserve_sec1 a {
    color: #eb952e;
}

.footer_main {
    background-color: #fff;
    padding: 20px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

#pre-header .celect_city {
    float: right;
    margin-top: 0px; 
}

header .navbar-default {
    background-color: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    z-index: 9;
}

.booking_number {
    float: right;
    height: auto;
    background: #eb952e;
    color: #000;
    padding: 22px 22px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    text-align: center;
}

.booking_number h1 {
    font-size: 23px;
    margin-top: 0;
    margin-bottom: 0;
}

.booking_number a {
    color: #000;
}

.booking_number a:hover {
    text-decoration: none;
    color: #000;
}


/*
inspired from http://codepen.io/Rowno/pen/Afykb
& https://jsfiddle.net/q0rgL8ws/
*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
    overflow:hidden;
}
.item.active img {
    transition: transform 5000ms linear 0s;
    /* This should be based on your carousel setting. For bs, it should be 5second*/
    transform: scale(1.05, 1.05);
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}


label{
  margin-bottom: 0;
}

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}


.carousel-control.left, .carousel-control.right{
  background: none;
}

.carousel-control {
    top: 50%;
    color: #eb952e;
    text-shadow: none;
    opacity: 1;
    width: 7%;
}

.carousel-control:focus, .carousel-control:hover {
    color: #eb952e;
    opacity: 1;
}

#slider .carousel-control i {
    background: #fff;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
}

.latest_news {
    z-index: 2;
}
.latest_news {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    font-size: 14px;
    padding: 10px 0 0;
    display: inline-block;
    margin-top: -30px;
    top: -28px;
}

.latest_news span {
    float: left;
}

.latest_news p {
    border-bottom: #fff dotted 1px;
    padding-bottom: 5px;
    margin-left: 5px;
    float: left;
    color: #fff;
}


ul {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 0;
}

.footer_nav p {
    color: #000;
    font-size: 10px;
    line-height: 16px;
}

.footer_nav li{
  list-style: none;
  display: inline-block;
}

.footer_nav ul{
  text-align: center;
}

.footer_nav a{
    margin: 0 8px;
    padding: 0 8px;
    color: #2e2e2e;
    text-transform: uppercase;
    font-size: 10px;
}

.copy_rights{
  border-top: 1px solid #ccc;
}

.copy_rights h5{
  color: #282828;
  font-size: 10px;
  text-align: center;
}

.linkin li{
  list-style: none;
  display: inline-block;
  border-right: #888888 solid 1px;
}

.linkin ul{
  margin-bottom: 0;
}

.linkin a{
  font-family: 'GOTHAM-LIGHT';
  display: block;
  color: #2e2e2e;
  text-transform: uppercase;
  font-size: 10px;
    margin: 0 8px;
    padding: 0 8px;
}
.submit {
    background: none;
    border: none !important;
    color: #878787;
    text-transform: uppercase;
    font-family: Gotham-Black;
    font-size: 14px;
    margin-top: 5px;
    cursor: pointer;
}


@media(max-width: 767px){
  .navbar-brand>img{
    width: 40%;
  }
  .our_fleet_sec {
    padding: 0;
  }
  .our_fleet_sec h2, .wicked_ride_main h2 {
    font-size: 30px;
  }
  .our_fleet_sec .titles li{
    border: none;
  }
  .our_fleet_sec .titles li a {
    padding: 0 0px;
    margin: 0 10px;
    font-size: 12px;
  }
  .accordion a {
    font-size: 13px;
  }
  .testimon_sec div {
    float: none;
    margin: 0;
    text-align: left;
  }
  .testimonials_main h4, .featured_article_main h4 {
    text-align: center;
  }
  .articles_sec .profile1 {
    float: none;
    width: auto;
    text-align: center;
  }
  .article_copy {
    color: #2e2e2e;
    overflow: hidden;
    width: -moz-calc(100% - 100px);
    width: -webkit-calc(100% - 100px);
    width: 100%;
    display: inline;
  }
  .pre-links li {
    margin-right: 12px;
  }
  .booking_number {
    float: none;
    padding: 9px 26px;
  }
  .celect_city select {
    margin: 0;
    background: #fff;
    color: #000;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 100%;  
  padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 26px;
    padding-right: 26px;
    font-size: 14px;
  }
  #pre-header .celect_city {
    float: none;
    margin-top: 0px;
  }
  .booking_number h1 {
    font-size: 20px;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      font-size: 10px !important;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      font-size: 10px !important;
    }
    :-ms-input-placeholder { /* IE 10+ */
      font-size: 10px !important;
    }
    :-moz-placeholder { /* Firefox 18- */
      font-size: 10px !important;
    }

    .footer_main ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      font-size: 10px !important;
      text-align: center !important;
    }
    .footer_main ::-moz-placeholder { /* Firefox 19+ */
      font-size: 10px !important;
      text-align: center !important;
    }
    .footer_main :-ms-input-placeholder { /* IE 10+ */
      font-size: 10px !important;
      text-align: center !important;
    }
    .footer_main :-moz-placeholder { /* Firefox 18- */
      font-size: 10px !important;
      text-align: center !important;
    }
    .articles_sec {
        margin-top: 20px;
        padding: 0 20px;
    }
}

.orange{
  color: #eb952e;
}

.down-links a {
    margin: 0 8px;
    padding: 0 20px 0px 10px;
    color: #2e2e2e;
    text-transform: uppercase;
    font-size: 10px;
    border-right: 1px solid #000;
}

.br100{
    border-radius: 100% !important;
}
