/*added*/
*
{
margin:0px;
padding:0px;
}
html,body
{
height:100%;
width:100%;
}
body
{
background-color:#fff;
color:#fff;
font-family: 'Gotham-Book';
width: 100%;
height: 100%;
    -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: 'Gotham-Black';
  src: url('../fonts/Gotham-Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gotham-Black.otf')  format('opentype'),
       url('../fonts/Gotham-Black.woff') format('woff'), url('../fonts/Gotham-Black.ttf')  format('truetype'), url('../fonts/Gotham-Black.svg#Gotham-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Coffee-Script';
  src: url('../fonts/Coffee-Script.ttf')
}





@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gotham-Book.otf')  format('opentype'),
       url('../fonts/Gotham-Book.woff') format('woff'), url('../fonts/Gotham-Book.ttf')  format('truetype'), url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Gotham-Light';
  src: url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gotham-Light.otf')  format('opentype'),
       url('../fonts/Gotham-Light.woff') format('woff'), url('../fonts/Gotham-Light.ttf')  format('truetype'), url('../fonts/Gotham-Light.svg#Gotham-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {font-family: 'CoffeeService';src: url('/fonts/webfonts/2EF6DB_0_0.eot');src: url('/fonts/webfonts/2EF6DB_0_0.eot?#iefix') format('embedded-opentype'),url('/fonts/webfonts/2EF6DB_0_0.woff2') format('woff2'),url('/fonts/webfonts/2EF6DB_0_0.woff') format('woff'),url('/fonts/webfonts/2EF6DB_0_0.ttf') format('truetype');}



h5{
  font-size: 18px;
  text-transform: uppercase;
}
h5{
  font-size: 14px;
  text-transform: uppercase;
}
h1{
  font-family: 'Gotham-Black';
  text-transform: uppercase;
}
img{
border:0;
outline: none;
}
.clear_both{
clear: both;
}
li{
list-style: none;
}
a{
outline: none;
text-decoration: none;
}
p{
font-family: 'Gotham-Book';
font-size: 13px;
  line-height: 22px;
}
.main{
width: 100%;
height: 100%;
}
.navigation_main{
  width: 100%;
  font-size: 10px;
  color: #2e2e2e;
  text-transform: uppercase;
  letter-spacing:0.7px;
}
.first_nav{
  width: 100%;
  background-color: #f5f5f5;
  min-height: 50px;
}
.width_960{
  max-width: 960px;
  margin:0 auto;
  position:relative;
}
.first_nav ul li:last-child, .second_nav ul li:last-child, .our_fleet_sec .titles li:last-child{
  border-right:none;
}
.first_nav ul li, .second_nav ul li{
  float: left;
  border-right: #888888 solid 1px;
}
.first_nav ul{
  overflow: hidden;
  padding: 20px 0 0 0;
  float: left;
  margin-left: 0px;
}
.second_nav ul{
  overflow: hidden;
  padding: 20px 0 0 0;
  padding-top: 20px;
  padding-bottom: 10px;
  float: left;
  margin-left: 15%;
}
.first_nav ul li a, .second_nav ul li a{
  display: block;
  margin: 0 4px 0 12px;
  padding: 0px 16px 0 10px;
  color: #2e2e2e;
  position: relative;
  display: inline-block;
}
.our_fleet_sec .titles li a, .first_nav ul li a, .second_nav ul li a, .edit_option a{
  transition:all .2s;
  -webkit-transition:all .2s;
  -moz-transition:all .2s;
}
/*.our_fleet_sec .titles li a:hover{
  color: #878787;
}*/
.first_nav ul li a:hover, .second_nav ul li a:hover{
  color: #ec962b;
  }
.first_nav ul li a:last-child, .second_nav ul li a:last-child{
  border-right: none;
}
.second_nav{
  width: 100%;
  min-height: 55px;
  border-bottom: #dedede solid 1px;
}
.second_nav ul li{
  float: left;
}
.logo {
    position: absolute;
     top: 54px;
    left: 17%;
    /* z-index: 10; */
}
.accordian_main li {
    border-top: #dcdcdc solid 1px;
    padding: 13px 10px 10px 0px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: width .3s ease-out;
    transition: width .3s ease-out;
}
.accordian_title span {
    background-image: url(../img/icons.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 14px;
    background-position: -214px -39px;
    float: right;
}

.accordian_main li h6 {
    font-weight: bold;
    font-size: 14px;
    font-style: italic;
    color: #2e2e2e;
    float: left;
}
.mini{
    height: 100px;
    width: 100px;
}
.booking_number{
    float: right;
  height: auto;
  background: #eb952e;
  color: #fff;
  padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 26px;
    padding-right: 26px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  text-align: center;
}
.booking_number h5{
  letter-spacing: 3.9px;
}
.call_icon{
  background-image: url(../img/icons.png);
  background-repeat: no-repeat;
  width: 28px;
  height: 28px;
  background-position: 0 0;
  position: absolute;
  left: 50%;
  bottom: -14px;
  margin-left: -14px;
  z-index: 10;
}
.custom-select{
  float: right;
}
.banner_nav .prev{
    background-image: url(../img/icons.png);
  background-repeat: no-repeat;
  width: 46px;
  height: 46px;
  background-position: 0px -66px;
  left: 30px;
  position: absolute;
  margin-bottom: -23px;
  bottom: 50%;
}
.banner_nav .next{
  background-image: url(../img/icons.png);
  background-repeat: no-repeat;
  width: 46px;
  height: 46px;
  background-position: -49px -66px;
  right: 30px;
  position: absolute;
  margin-bottom: -23px;
  bottom: 50%;
}
.home_slider{
  position: relative;
  width: 100%;
  overflow: hidden;
  display: block;
}
.banner_content{
  display: inline-block;
  margin-top: 50px;
  margin-top: 10%;
  color: #000;
}
.banner_content_white{
  display: inline-block;
  margin-top: 50px;
  margin-top: 10%;
  color: #e3e3e3;
}
.motorcycle_banner{
  position: relative;
  width: 100%;
  overflow: hidden;
  display: block;
}
.motorcycle_banner .current{
  display: table;
}
.motorcycle_banner .common_btn{
  display: inline-block;
  border-top: #bebebe solid 1px;
  margin-top: 20px;
  padding: 20px 50px 0 50px;
}
.motorcycle_banner_content h1 small{
  font-size: 14px;
  letter-spacing: 1.5px;
}
.motorcycle_banner_content{
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}
.motorcycle_banner li{
  background-image: url(../img/motorcycle-banner-iron.jpg);
  background-repeat: no-repeat;
  width:100%;
  height:521px;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  display: block;
  position: relative;
}
.home_slider li{
  /*background-image: url(../images/banner-slide-01.jpg);*/
  background-repeat: no-repeat;
  width:100%;
  /*height:521px;*/
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  display: block;
  position: relative;
}
h1{
  font-size: 70px;
  text-transform: uppercase;
  font-family: 'Gotham-Black';
  line-height: 55px;
}
h1 small{
  font-size: 40px;
color:#000;
  text-transform: uppercase;
    display: inherit;
}
h6{
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.plus_icon{
    background: url('../img/icons.png');
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-position: -27px 0;
  z-index: 6;
  margin: 10px 0 0 43px;
  position: absolute;
}
/*monday*/

#wrapper{
  display: none;
}
.book_bike .celect_city{
  float: none;
  text-align: center;
  overflow: hidden;
}
.booking_steps ul li{
  display: inline-block;
  padding: 0 0px 10px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: width .3s ease-out;
  transition: width .3s ease-out;
  width: 25%;
  float: left;
}
.booking_steps ul{
  margin:0 0 -10px -10px;
}
.booking_steps ul li a{
  display: block;
  color: #2e2e2e;
  font-size: 10px;
  text-transform: uppercase;
}
.booking_steps ul li.active span{
  background-color: #eb952e;
  border: none;
  color: #fff;
}
.booking_steps ul li.active div{
  text-decoration: underline;
}
.booking_steps ul li a span{
    padding: 16px 20px;
  border-radius: 25px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 25px;
  -o-border-radius: 25px;
  background-color: #fff;
  border: #dad9d9 solid 1px;
  color: #2e2e2e;
  /* width: 90px; */
  /* height: 20px; */
  float: left;
  margin-right: 5px;
  font-family: 'Gotham-Black';
}
.booking_steps ul li a div{
  font-size: 13px; 
  /* margin-left: 40px; */
  /* margin-top: -10px; */
  padding-top: 16px;
}
.booking_steps{
  /*padding-top: 40px;*/
  padding-top: 30px;
  overflow: hidden;
}
.small_caps{
  display: block;
  color: #2e2e2e;
  text-transform: uppercase;
  font-size: 10px;
  text-align: center;
}
.price{
  font-size: 20px;
  text-transform: uppercase;
  color: #eb952e;
}

.tariff_price{
  font-size: 20px;
  text-transform: uppercase;
  color: #eb952e;
  font-family: 'Gotham-Black';
  line-height: 21px;
}

.accessories_sec ul li
{
  font-family: 'Gotham-Black';
}


.checkbox label{
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 45px;
    font-size: 13px;
}

.checkbox input[type=checkbox]{
    display: none;
}
.checkbox label:before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 20px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: #fff;
  border: #888 solid 1px;
  padding-top: 6px;
  /* box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8); */
}
.radio label:before {
     -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
}
.checkbox input[type=checkbox]:checked + label:before{
      content: "\2713";
    color: #eb952e;
    font-size: 24px;
    text-align: center;
    line-height: 18px;
    font-family: 'Gotham-Black';
    /* margin-top: 1px; */
    /* top: 2px; */
}
.radio input[type=radio]:checked + label:before{
  content: "\2022";
    color: #eb952e;
    font-size: 34px;
    text-align: center;
    line-height: 18px;
    font-family: 'Gotham-Black';
    /* margin-top: 1px; */
    /* top: 2px; */
}

.radio label{
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 35px;
    font-size: 10px;
    margin-right: 20px;
}
.radio input[type=radio] {
    display: none;
}
.radio label:before {
    content: "";
  display: inline-block;
  width: 26px;
  height: 20px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: -6px;
  background-color: #fff;
  border: #888 solid 1px;
  padding-top: 6px;
}
.accessories_sec .checkbox{
  margin-bottom: 10px;
}
.align_center{
  display: inline-block;
}
.booking_bike_white{
  background-color: #fff;
  padding: 30px 0 0 0;
  /*overflow: hidden;*/
  display: block;
  margin-top: 10px;
  width: 100%;
}
.booking_bike_white ul li{
  display: table-cell;
    vertical-align: middle;
}
.booking_bike_white .booking_date_main .celect_city select{
  width: 100%;
}
.booking_bike_white .booking_date_main .celect_city label{
  width: 100%;
}
.date{
  font-size: 16px;
  text-transform: uppercase;
  text-align: left;
  color: #888;
}
.time{
  font-size: 12px;
  font-family: 'Gotham-Black';
  text-align: left;
  line-height: 20px;
}
.date_time{
  float: left;
}
.date_time:last-child{
  float: right;
}
.break_line{
  width: 10px;
  height: 1px;
  background-color: #888;
  /* float: left; */
  display: inline-block;

}
.date_sec_main{
  margin:0 0 10px 0;
  overflow: hidden;
  display: block;
  padding:0 0 10px 0;
}
.happy_customer_form .indicator{
  color: #2e2e2e;
}
.pickup{
  margin: 10px 0;
}
.bike_price .small_caps, .bike_price .price{
  font-family: 'Gotham-Black';
  line-height: 21px;
}
.pickup .celect_city select{
  background-color: #f5f5f5;
}
.booking_bike_white #bikes{
    border-bottom: #dad9d9 solid 1px;
    /*overflow: hidden;*/
    padding: 20px 0;
    margin: 20px 0;
}

.booking_bike_white .bikes li{
  /* float: left; */
  width: 25%;
  padding: 0 0 10px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.width_more{
  width: 40% !important;
  color: #2e2e2e;
  padding: 0 20px;
}
.book_now{
  border: #dad9d9 solid 1px;
  padding: 50px 30px;
  background-color: #f5f5f5;
    border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
   -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 200px;
}


.booking_bike_white .bikes li .booking_date_main .celect_city label{
  padding:0;
}
.book_now .common_btn_small{
  border-top: #dad9d9 solid 1px;
  padding-top: 10px;
}
.align_center {
  margin: 0 20px;
}
.booking_bike_white .fleet_bikes li{
  margin:0;
  padding: 0 0 10px 10px;
   -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.booking_bike_white .fleet_bikes{
  margin: 0 0 -10px -10px;
}
.width_more .booking_date_main .celect_city label{
  padding:0 !important;
}
.radio_select .small_caps{
  color: #fff;
  float: left;
  margin-right: 5px;
}
#navbikes .common_btn_small a:hover{
  color: #fff;
}
.form_main .radio_select .radio{
  float: left;
}
.edit_option a{
    background: url('../images/icons.png');
    background-repeat: no-repeat;
    background-position: -90px 0;
    width: 25px;
    height: 25px;
    display: inline-block;
}
.edit_option a:hover{
  background-position: -121px 0;
}
.login_register_main .date_sec_main{
  border-bottom: #dfdfdf solid 1px;
}
.login_register_main .duration{
   border-bottom: #dfdfdf solid 1px;
    overflow: hidden;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.duration .left{
    border-right: #dfdfdf solid 1px;
    text-align: left;
    float: left;
    padding: 0 30px 0 0;
    margin-right: 30px;
    text-align: left;
}
.duration .left .small_caps, .duration .small_caps{
  text-align: left;
}
.duration .left:last-child{
  border-right: none;
  padding-right:0;
  margin-right: 0;
}
.duration .left span{
  margin: 0 7px 0 0;
}
.date_time_main{
  float: left;
}
.date_sec_main .edit_option a{
  display: block;
}
.date_sec_main .edit_option{
  float: right;
  margin: 0 0 0 10px;
}
.duration .float_left{
  float: left;
}
.duration .edit_option{
  float: right;
}
.duration .edit_option a{
  float: left;
}
.happy_customer_form .radio_select label, .happy_customer_form .radio_select span, .happy_customer_form .small_caps, .happy_customer_form label{
  color: #2e2e2e;
}
.login_register_main .booking_bike_white #bikes{
  border: none;
}
.date_picker{
    padding:20px;
    background-color: #fff;
    color: #2e2e2e;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radus: 5px;
    width: 25%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -0-box-sizing: border-box;
    text-transform: uppercase;
    font-family: 'Gotham-Book';
    border: #dad9d9 solid 1px;
    text-align: center;
  }
  .time_picker{
    padding:20px 5px;
    background-color: #fff;
    color: #2e2e2e;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radus: 5px;
    width: 8%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -0-box-sizing: border-box;
    text-transform: uppercase;
    font-family: 'Gotham-Book';
    border: #dad9d9 solid 1px;
    text-align: center;
  }
.inbetween{
  font-size: 10px;
  color: #2e2e2e;
  font-family: 'Gotham-Black';
  text-transform: uppercase;
  /*margin: 5px 5px;*/
}
.only_for_booking_login .text_align_center{
  float: left !important;
  width: auto;
  margin: 0 0 0 10px;
}
.float_right{
  float: right;
}
.connect_with{
  width: 100%;
  border-top: #dad9d9 solid 1px;
  overflow: hidden;
  padding: 20px 0;
  margin: 20px 0;
  display: none;
}
.input_field{
  padding: 20px;
    background-color: #fff;
    color: #2e2e2e;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radus: 5px;
    width: 100%;
    float: left;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: 'Gotham-Book';
    border: #dad9d9 solid 1px;
    width: 200px !important;
}
/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #eb952e;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #eb952e;  } 



/* -------------------------------- 

Main Components 

-------------------------------- */
.cd-header {
  position: relative;
  height: 150px;
  background-color: #331d35;
}
.cd-header h1 {
  color: #ffffff;
  line-height: 150px;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 300;
}
@media only screen and (min-width: 1170px) {
  .cd-header {
    height: 180px;
  }
  .cd-header h1 {
    line-height: 180px;
  }
}

.cd-main-content {
  position: relative;
  min-height: 100vh;
}
.cd-main-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-main-content.is-fixed .cd-tab-filter-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.cd-main-content.is-fixed .cd-gallery {
  padding-top: 76px;
}
.cd-main-content.is-fixed .cd-filter {
  position: fixed;
  height: 100vh;
  overflow: hidden;
}
.cd-main-content.is-fixed .cd-filter form {
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.cd-main-content.is-fixed .cd-filter-trigger {
  position: fixed;
}
@media only screen and (min-width: 768px) {
  .cd-main-content.is-fixed .cd-gallery {
    padding-top: 90px;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-main-content.is-fixed .cd-gallery {
    padding-top: 100px;
  }
}

/* -------------------------------- 

xtab-filter 

-------------------------------- */
.cd-tab-filter-wrapper {
  background-color: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  z-index: 1;
}
.cd-tab-filter-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.cd-tab-filter {
  /* tabbed navigation style on mobile - dropdown */
  position: relative;
  height: 50px;
  width: 140px;
  margin: 0 auto;
  z-index: 1;
}
.cd-tab-filter::after {
  /* small arrow icon */
  content: '';
  position: absolute;
  right: 14px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../img/cd-icon-arrow.svg") no-repeat center center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  pointer-events: none;
}
.cd-tab-filter ul {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: inset 0 -2px 0 #41307c;
}
.cd-tab-filter li {
  display: none;
}
.cd-tab-filter li:first-child {
  /* this way the placehodler is alway visible */
  display: block;
}
.cd-tab-filter a {
  display: block;
  /* set same size of the .cd-tab-filter */
  height: 50px;
  width: 140px;
  line-height: 50px;
  padding-left: 14px;
}
.cd-tab-filter a.selected {
  background: #41307c;
  color: #ffffff;
}
.cd-tab-filter.is-open::after {
  /* small arrow rotation */
  -webkit-transform: translateY(-50%) rotate(-180deg);
  -moz-transform: translateY(-50%) rotate(-180deg);
  -ms-transform: translateY(-50%) rotate(-180deg);
  -o-transform: translateY(-50%) rotate(-180deg);
  transform: translateY(-50%) rotate(-180deg);
}
.cd-tab-filter.is-open ul {
  box-shadow: inset 0 -2px 0 #41307c, 0 2px 10px rgba(0, 0, 0, 0.2);
}
.cd-tab-filter.is-open ul li {
  display: block;
}
.cd-tab-filter.is-open .placeholder a {
  /* reduces the opacity of the placeholder on mobile when the menu is open */
  opacity: .4;
}
@media only screen and (min-width: 768px) {
  .cd-tab-filter {
    /* tabbed navigation style on medium devices */
    width: auto;
    cursor: auto;
  }
  .cd-tab-filter::after {
    /* hide the arrow */
    display: none;
  }
  .cd-tab-filter ul {
    background: transparent;
    position: static;
    box-shadow: none;
    text-align: center;
  }
  .cd-tab-filter li {
    display: inline-block;
  }
  .cd-tab-filter li.placeholder {
    display: none !important;
  }
  .cd-tab-filter a {
    display: inline-block;
    padding: 0 1em;
    width: auto;
    color: #9a9a9a;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.3rem;
  }
  .no-touch .cd-tab-filter a:hover {
    color: #eb952e;
  }
  .cd-tab-filter a.selected {
    background: transparent;
    color: #eb952e;
    /* create border bottom using box-shadow property */
    box-shadow: inset 0 -2px 0 #eb952e;
  }
  .cd-tab-filter.is-open ul li {
    display: inline-block;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-tab-filter {
    /* tabbed navigation on big devices */
    width: 100%;
    float: right;
    margin: 0;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
  }
  .cd-tab-filter.filter-is-visible {
    /* reduce width when filter is visible */
    width: 80%;
  }
}

/* -------------------------------- 

xgallery 

-------------------------------- */
.cd-gallery {
  padding: 26px 5%;
  width: 100%;
}
.cd-gallery li {
  margin-bottom: 1.6em;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  display: none;
}
.cd-gallery li.gap {
  /* used in combination with text-align: justify to align gallery elements */
  opacity: 0;
  height: 0;
  display: inline-block;
}
.cd-gallery img {
  display: block;
  width: 100%;
}
.cd-gallery .cd-fail-message {
  display: none;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .cd-gallery {
    padding: 40px 3%;
  }
  .cd-gallery ul {
    text-align: justify;
  }
  .cd-gallery ul:after {
    content: "";
    display: table;
    clear: both;
  }
  .cd-gallery li {
    width: 48%;
    margin-bottom: 2em;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-gallery {
    padding: 50px 2%;
    float: right;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
  }
  .cd-gallery li {
    width: 23%;
  }
  .cd-gallery.filter-is-visible {
    /* reduce width when filter is visible */
    width: 80%;
  }
}

/* -------------------------------- 

xfilter 

-------------------------------- */
.cd-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: #ffffff;
  box-shadow: 4px 4px 20px transparent;
  z-index: 2;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s, box-shadow 0.3s;
  -moz-transition: -moz-transform 0.3s, box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s;
}
.cd-filter::before {
  /* top colored bar */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: #41307c;
  z-index: 2;
}
.cd-filter form {
  padding: 70px 20px;
}
.cd-filter .cd-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  width: 60px;
  color: #ffffff;
  font-size: 1.3rem;
  text-align: center;
  background: #37296a;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: 3;
}
.no-touch .cd-filter .cd-close:hover {
  background: #32255f;
}
.cd-filter.filter-is-visible {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
}
.cd-filter.filter-is-visible .cd-close {
  opacity: 1;
}
@media only screen and (min-width: 1170px) {
  .cd-filter {
    width: 20%;
  }
  .cd-filter form {
    padding: 70px 10%;
  }
}

.cd-filter-trigger {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  line-height: 50px;
  width: 60px;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
  background: transparent url("../img/cd-icon-filter.svg") no-repeat center center;
  z-index: 3;
}
.cd-filter-trigger.filter-is-visible {
  pointer-events: none;
}
@media only screen and (min-width: 1170px) {
  .cd-filter-trigger {
    width: auto;
    left: 2%;
    text-indent: 0;
    color: #9a9a9a;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    padding-left: 24px;
    background-position: left center;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
  }
  .no-touch .cd-filter-trigger:hover {
    color: #41307c;
  }
  .cd-filter-trigger.filter-is-visible, .cd-filter-trigger.filter-is-visible:hover {
    color: #ffffff;
  }
}

/* -------------------------------- 

xcustom form elements 

-------------------------------- */
.cd-filter-block {
  margin-bottom: 1.6em;
}
.cd-filter-block h4 {
  /* filter block title */
  position: relative;
  margin-bottom: .2em;
  padding: 10px 0 10px 20px;
  color: #9a9a9a;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.no-touch .cd-filter-block h4:hover {
  color: #41307c;
}
.cd-filter-block h4::before {
  /* arrow */
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 16px;
  height: 16px;
  background: url("../img/cd-icon-arrow.svg") no-repeat center center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-filter-block h4.closed::before {
  -webkit-transform: translateY(-50%) rotate(-90deg);
  -moz-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  -o-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
}
.cd-filter-block input, .cd-filter-block select,
.cd-filter-block .radio-label::before,
.cd-filter-block .checkbox-label::before {
  /* shared style for input elements */
  font-family: "Open Sans", sans-serif;
  border-radius: 0;
  background-color: #ffffff;
  border: 2px solid #e6e6e6;
}
.cd-filter-block input[type='search'],
.cd-filter-block input[type='text'],
.cd-filter-block select {
  width: 100%;
  padding: .8em;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  box-shadow: none;
}
.cd-filter-block input[type='search']:focus,
.cd-filter-block input[type='text']:focus,
.cd-filter-block select:focus {
  outline: none;
  background-color: #ffffff;
  border-color: #41307c;
}
.cd-filter-block input[type='search'] {
  /* custom style for the search element */
  border-color: transparent;
  background-color: #e6e6e6;
  /* prevent jump - ios devices */
  font-size: 1.6rem !important;
}
.cd-filter-block input[type='search']::-webkit-search-cancel-button {
  display: none;
}
.cd-filter-block .cd-select {
  /* select element wrapper */
  position: relative;
}
.cd-filter-block .cd-select::after {
  /* switcher arrow for select element */
  content: '';
  position: absolute;
  z-index: 1;
  right: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 16px;
  height: 16px;
  background: url("../img/cd-icon-arrow.svg") no-repeat center center;
  pointer-events: none;
}
.cd-filter-block select {
  cursor: pointer;
  font-size: 1.4rem;
}
.cd-filter-block select::-ms-expand {
  display: none;
}
.cd-filter-block .list li {
  position: relative;
  margin-bottom: .8em;
}
.cd-filter-block .list li:last-of-type {
  margin-bottom: 0;
}
.cd-filter-block input[type=radio],
.cd-filter-block input[type=checkbox] {
  /* hide original check and radio buttons */
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  z-index: 2;
}
.cd-filter-block .checkbox-label,
.cd-filter-block .radio-label {
  padding-left: 24px;
  font-size: 1.4rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cd-filter-block .checkbox-label::before, .cd-filter-block .checkbox-label::after,
.cd-filter-block .radio-label::before,
.cd-filter-block .radio-label::after {
  /* custom radio and check boxes */
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cd-filter-block .checkbox-label::before,
.cd-filter-block .radio-label::before {
  width: 16px;
  height: 16px;
  left: 0;
}
.cd-filter-block .checkbox-label::after,
.cd-filter-block .radio-label::after {
  /* check mark - hidden */
  display: none;
}
.cd-filter-block .checkbox-label::after {
  /* check mark style for check boxes */
  width: 16px;
  height: 16px;
  background: url("../img/cd-icon-check.svg") no-repeat center center;
}
.cd-filter-block .radio-label::before,
.cd-filter-block .radio-label::after {
  border-radius: 50%;
}
.cd-filter-block .radio-label::after {
  /* check mark style for radio buttons */
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  left: 5px;
}
.cd-filter-block input[type=radio]:checked + label::before,
.cd-filter-block input[type=checkbox]:checked + label::before {
  border-color: #41307c;
  background-color: #41307c;
}
.cd-filter-block input[type=radio]:checked + label::after,
.cd-filter-block input[type=checkbox]:checked + label::after {
  display: block;
}

@-moz-document url-prefix() {
  /* hide custom arrow on Firefox - select element */
  .cd-filter-block .cd-select::after {
    display: none;
  }
}
.quotes {display: none;}



/***********************************************************MY CSS STARTS*************************************************************************/

.contact-err-msg{margin-bottom: 10px;border: 1px solid;padding: 5px;border-radius: 10px;font-size: 13px;}
.faq-err-msg{margin-bottom: 10px;border: 1px solid #2e2e2e;padding: 5px;border-radius: 10px; color: #2e2e2e;font-size: 13px;}
.faq-home-err-msg{margin-bottom: 10px;border: 1px solid #fff;padding: 5px;border-radius: 10px; color: #fff;font-size: 13px;}
.happy_customer_form .hd{text-align: center;}
.contact-success-msg{text-transform: uppercase;font-size: 13px;margin-bottom: 10px;}
.faq-success-msg{text-transform: uppercase;font-size: 13px;margin-bottom: 10px;color: #2e2e2e;}
.faq-home-success-msg{text-transform: uppercase;font-size: 13px;margin-bottom: 10px;color: #fff;}
.subscribe-success-msg{text-transform: uppercase;font-size: 11px;margin-bottom: 10px;color: #2e2e2e;}
.subscribe-err-msg{margin-bottom: 10px;border: 1px solid #2e2e2e;padding: 5px;border-radius: 10px; color: #2e2e2e;font-size: 11px;}
.fleet_bikes a img, .book_bike_fleet img{max-width: 200px;}
#login-msg{color: #2e2e2e;}
#signup-msg{color: #2e2e2e;}
.login-ms, .signup-ms{color: red; padding: 5px;text-align: initial;margin-left: 14px;margin-bottom: 10px;font-size: 12px;}
.next-btn-container{text-align: center;margin-top: 15px;}
.book_bike_main #step2,.book_bike_main #step3,.book_bike_main #step4{display: none;}
#step1{min-height: 400px;}
#step1-error, .step2-error{color: red;font-size: 12px;text-align: center;margin-top: 10px;}
#step2 .break_line{margin: 8px 20px;float: left;}
#step4 button{/*width: 18%;height: 5%;border-radius: 5px;*/color: #878787;
font-size: 14px;border: none;outline:none;background: none;text-transform: uppercase;font-family: 'Gotham-Black';cursor: pointer;}
#step4 button:hover{color: #333;}
/*#step4 form{float: left;}*/
#step4 .book_now span{margin-top: 4px;}
#step4 .break_line{margin: 8px 20px; float: left;}
/*#step4{text-align: center;margin-top: 80px;margin-bottom: 120px;}
#step4 button:focus{outline: none;border: 1px solid #333;}
#step4 button:hover{color: #fff;border: 1px solid #fff;}*/
/*#step4 #booking-details{color: #333;font-size: 13px;margin-bottom: 30px;}
#step4 #booking-details > div > b{margin-right:12px;color: #EB952E;}
#step4 #booking-details > div{margin-bottom: 5px;}
#step4 #booking-details .title{font-size: 25px;text-transform: uppercase;margin-bottom: 30px;display: inline-block;border-bottom: 2px solid;
  color: #EA942E;font-weight: bold;}*/
.common_btn_small .cmn-btn{ letter-spacing: 0.6px;}
.common_btn_small .cmn-btn{ text-transform: uppercase; font-family: 'Gotham-Black'; color: #878787; display: inline-block; font-size: 14px; float: left;
  transition:all .2s;
  -webkit-transition:all .2s;
  -moz-transition:all .2s; line-height: 14px;
}
.common_btn_small .cmn-btn:hover{ color:#000; }


/*Booking success pg*/
.booking-success-tb{width: 100%; max-width: 600px; margin: 30px auto;}  
.booking-success-tb .slot3{background: #333333;}
.booking-success-tb .slot3 td{padding: 30px 15px 10px 15px;}
.booking-success-tb .slot3 .cname{font-size: 14px;margin-bottom: 12px;}
.booking-success-tb .slot3 .content{font-size: 13px;margin-bottom: 12px;}
.booking-success-tb .slot3 .booking-title{font-weight: bold;margin-bottom: 10px;}
.booking-success-tb .details{font-size: 13px;padding: 2px 0;}  

.my-loader{text-align: center;position: fixed;top: 43%;left: 45%;display: none;}
.my-loader img{width: 100px;}

#step4 .step4-check label{color: #333;font-size: 12px;vertical-align: 3px;}
#step4 .step4-check{margin: 5px auto 5px;text-align:left;/*padding-left: 15px;*/}
#step4 .step4-check2{margin-bottom: 20px;}
#step4 .payment-btn-container{margin-left: 22px;} 
#step4 .code-apply-container{margin-top: 50px;}
#step4 .code-apply-container input{padding: 8px;border: #dad9d9 solid 1px;border-radius: 5px;-moz-border-radius: 5px;
-webkit-border-radius: 5px;font-size: 12px;font-family: 'Gotham-Book';
-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
#step4 .code-apply-container button{margin-left: 12px;border: 1px solid;padding: 6px;background: #333;color: #fff;border-radius: 5px;}
#step4 .code-apply-container button:hover{background:#EB952E;} 


.wicked_ride_main{background-image: url(../images/bg.jpg);}

.map_main_mobile{text-align: center;padding: 20px 0;display: none;}

/*#forgot-password-form{display: none;}*/
.password-reset-mainpg .cd-tabs-navigation li{width: 100%;}
#forgot-password-form .pwd-li{float: none;margin: auto;}
.password-reset-pg{padding: 80px 0;}
.password-reset-pg form li{float: none;margin: auto;}
.password-reset-pg .error-msg{border: none;color: red;text-align: center;font-size: 13px;margin-bottom: 12px;}
.password-reset-mainpg .error-msg ul li{display:block;width: 100%;padding-left: 0;font-size: 12px;color: red;}
.password-reset-mainpg .success-msg{font-size: 12px; color: green; margin-bottom: 10px;}

.booked-btn div{color: red;cursor: default;pointer-events: none; font-weight: bold;}

#step4 .note-container textarea{width: 100%;font-size: 11px;padding: 5px 0px 5px 5px;}

/*step1 popup css*/
/*.news .content{float: right;height: 15px;width: 40%;overflow-y: auto;padding: 0 1%;color: #333;font-size: 12px;}
.news .content h3{font-size: 12px;}*/
.news-step1 .content{color: #333;}
.news-step1 .content h3, .news-step1 .content div{font-size: 15px;}
.news-step1 .content p{opacity: 0;height: 0;}
.news-step1 .content:hover p{opacity: 1; height: auto;transition:0.8s ease all;-webkit-transition:0.8s ease all;-moz-transition:0.8s ease all;}

#step2 .calender-container input{width: 42%;padding: 5px;border-radius: 5px;border: 1px solid #dad9d9;height: 20px;font-size: 12px;color:#666;text-align: center;}
#step2 .calender-container{display: none;}
#step2 .disabled-date-color{background:red; color: #fff;}

#step2 .calender-container a{
border: #dad9d9 solid 1px;
border-radius: 5px;
font-size: 9px;
padding: 7px 5px;
color: #EB952E;
text-transform: uppercase;
background: #F5F5F5;
vertical-align: 1px;
cursor: pointer;}

#step2 ul.book_bike_fleet li:first-child{
  width: 30%;
}
#step2 ul.book_bike_fleet li.price-section{
  min-width: 250px;
}

#tariff-pg{padding: 80px 0 40px;color: #333;}
#tariff-pg .title{font-size: 36px;padding-bottom: 9px;border-bottom: 1px solid #eee;}
#tariff-pg .sub-title{font-size: 24px;margin:20px 0 10px;}
#tariff-pg ul{text-align: center;}
#tariff-pg ul li{display: inline-block;width: 35%;margin: 30px 50px;}
#tariff-pg ul li a{display: inline-block;}
#tariff-pg ul li a img{max-width: 350px;}
#tariff-pg ul li a .name{font-size: 20px;margin-bottom: 18px;}

/*#step2 .xdsoft_datetimepicker{display: none;}*/

/*#step2 #show-bikes ul > li.wd{width: 25%;}*/

/****************My Media css********************/

@media(max-width: 480px){
  
/*  .home_slider .homeslide > li:first-child{background-image: url(../images/banner1-mobile.jpg);}
  .home_slider .homeslide > li:last-child{background-image: url(../images/banner2-mobile.jpg);}*/
  .wicked_ride_main{background-image: url(../images/bg-mobile2.jpg); min-height: inherit;}
  .map_main_mobile{display: block;}  
  .map_main{display: none;}  

  .news-step1{margin-top: 18px;}
  .news-step1 p{margin-top: 4px;}

  #tariff-pg ul{text-align: center;}
  #tariff-pg ul li{margin: 5px 0;width: 100%;}
}


/*********************************************************MY CSS ENDS***************************************************************/


/*dropdown*/


/* remove â€œXâ€ from search input field */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* -------------------------------- 

Main Components 

-------------------------------- */
header {
  height: 100px;
  background: #ffffff;
}

.cd-dropdown-wrapper {
  display: inline-block;
  position: relative;
  height: 40px;
  margin: 30px 0 0 5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cd-dropdown-trigger {
  display: block;
  position: relative;
  padding: 0 36px 0 20px;
  line-height: 40px;
  background-color: #878787;
  color: #fff !important;
  border-radius: 3px;
}
.no-touch .cd-dropdown-trigger:hover {
  background-color: #eb952e;
}
.cd-dropdown-trigger::before, .cd-dropdown-trigger::after {
  /* this is the arrow inside the dropdown trigger*/
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -1px;
  height: 2px;
  width: 9px;
  background: #ffffff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: width 0.3s, -webkit-transform 0.3s;
  -moz-transition: width 0.3s, -moz-transform 0.3s;
  transition: width 0.3s, transform 0.3s;
}
.cd-dropdown-trigger::before {
  right: 22px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cd-dropdown-trigger::after {
  right: 17px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
@media only screen and (min-width: 1024px) {
  .cd-dropdown-trigger {
    font-size: 1.5rem;
  }
  .cd-dropdown-trigger.dropdown-is-active {
    background-color: #eb952e;
  }
  .no-touch .cd-dropdown-trigger.dropdown-is-active:hover {
    background-color: #eb952e;
  }
  .cd-dropdown-trigger.dropdown-is-active::before, .cd-dropdown-trigger.dropdown-is-active::after {
    /* transform the arrow into a 'X' */
    width: 14px;
  }
  .cd-dropdown-trigger.dropdown-is-active::before {
    /* transform the arrow into a 'X' */
    -webkit-transform: translateX(5px) rotate(-45deg);
    -moz-transform: translateX(5px) rotate(-45deg);
    -ms-transform: translateX(5px) rotate(-45deg);
    -o-transform: translateX(5px) rotate(-45deg);
    transform: translateX(5px) rotate(-45deg);
  }
  .cd-dropdown-trigger.dropdown-is-active::after {
    /* transform the arrow into a 'X' */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.cd-dropdown h2,
.cd-dropdown-content a,
.cd-dropdown-content ul a {
 /* height: 50px;
  line-height: 50px;*/
}
@media only screen and (min-width: 768px) {
  .cd-dropdown h2,
  .cd-dropdown-content a,
  .cd-dropdown-content ul a {
    /*height: 60px;
    line-height: 60px;*/
  }
}
@media only screen and (min-width: 1024px) {
  .cd-dropdown h2,
  .cd-dropdown-content a,
  .cd-dropdown-content ul a {
    /*height: 50px;
    line-height: 50px;*/
  }
}
@media only screen and (min-device-width: 768px)   and (max-device-width: 1024px)   and (orientation: landscape){

.second_nav ul {
    overflow: hidden;
    padding: 20px 0 0 0;
    padding-top: 20px;
    padding-bottom: 10px;
    float: left;
    margin-left: 7%;
}

}
.cd-dropdown h2,
.cd-dropdown-content a,
.cd-dropdown-content ul a,
.cd-dropdown-content .cd-divider {
  padding: 0 20px;
}

.cd-dropdown {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eb952e;
  color: #ffffff;
  visibility: hidden;
  /* Force Hardware Acceleration */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.5s 0s, visibility 0s 0.5s;
  -moz-transition: -moz-transform 0.5s 0s, visibility 0s 0.5s;
  transition: transform 0.5s 0s, visibility 0s 0.5s;
}
.cd-dropdown h2 {
  /* dropdown title - mobile version only */
  position: relative;
  z-index: 1;
  color: #585a70;
  background-color: #111433;
  border-bottom: 1px solid #242643;
}
.cd-dropdown .cd-close {
  /* 'X' close icon - mobile version only */
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  height: 50px;
  width: 50px;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
}
.cd-dropdown .cd-close::after, .cd-dropdown .cd-close::before {
  /* this is the 'X' icon */
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  height: 20px;
  width: 2px;
  background-color: #ffffff;
}
.cd-dropdown .cd-close::after {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.cd-dropdown .cd-close::before {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.cd-dropdown.dropdown-is-active {
  visibility: visible;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform 0.5s 0s, visibility 0s 0s;
  -moz-transition: -moz-transform 0.5s 0s, visibility 0s 0s;
  transition: transform 0.5s 0s, visibility 0s 0s;
}
@media only screen and (min-width: 768px) {
  .cd-dropdown .cd-close {
    top: 5px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-dropdown {
    position: absolute;
    top: calc(100% - 2px);
    /* reset style*/
    height: auto;
    width: auto;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    background-color: #ffffff;
    color: #111433;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    opacity: 0;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s, -webkit-transform 0.3s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s, -moz-transform 0.3s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s;
  }
  .open-to-left .cd-dropdown {
    /* use the .open-to-left class if you want to open the dropdown on the left */
    right: 0;
    left: auto;
  }
  .cd-dropdown h2, .cd-dropdown .cd-close {
    /* on desktop - hide title and 'X' */
    display: none;
  }
  .cd-dropdown.dropdown-is-active {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: opacity 0.3s 0s, visibility 0.3s 0s, -webkit-transform 0.3s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0.3s 0s, -moz-transform 0.3s 0s;
    transition: opacity 0.3s 0s, visibility 0.3s 0s, transform 0.3s 0s;
  }
}

.cd-dropdown-content, .cd-dropdown-content ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  padding-top: 50px;
}
.cd-dropdown-content a, .cd-dropdown-content ul a {
  display: block;
  color: #ffffff;
  /* truncate text with ellipsis if too long */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: none;
}
.cd-dropdown-content li:first-of-type > a, .cd-dropdown-content ul li:first-of-type > a {
  border-top-width: 0;
}
.cd-dropdown-content li:last-of-type > a, .cd-dropdown-content ul li:last-of-type > a {
  border-bottom-width: 1px;
}
.cd-dropdown-content .cd-divider, .cd-dropdown-content ul .cd-divider {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #D47E16;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: #FFFFFF;
  text-align: left;
  text-transform: uppercase;
}
.cd-dropdown-content .cd-divider + li > a, .cd-dropdown-content ul .cd-divider + li > a {
  border-top-width: 0;
}
.cd-dropdown-content a, .cd-dropdown-content .cd-search, .cd-dropdown-content .cd-divider, .cd-dropdown-content ul a, .cd-dropdown-content ul .cd-search, .cd-dropdown-content ul .cd-divider {
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}
.cd-dropdown-content.is-hidden, .cd-dropdown-content ul.is-hidden {
  /* push the secondary dropdown items to the right */
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.cd-dropdown-content.is-hidden > li > a, .cd-dropdown-content.is-hidden > li > .cd-search, .cd-dropdown-content.is-hidden > .cd-divider, .cd-dropdown-content.move-out > li > a, .cd-dropdown-content.move-out > li > .cd-search, .cd-dropdown-content.move-out > .cd-divider, .cd-dropdown-content ul.is-hidden > li > a, .cd-dropdown-content ul.is-hidden > li > .cd-search, .cd-dropdown-content ul.is-hidden > .cd-divider, .cd-dropdown-content ul.move-out > li > a, .cd-dropdown-content ul.move-out > li > .cd-search, .cd-dropdown-content ul.move-out > .cd-divider {
  /* lower down the dropdown items opacity - when secondary dropdown slides in or for dropdown items hidden on the right */
  opacity: 0;
}
.cd-dropdown-content.move-out > li > a, .cd-dropdown-content.move-out > li > .cd-search, .cd-dropdown-content.move-out > .cd-divider, .cd-dropdown-content ul.move-out > li > a, .cd-dropdown-content ul.move-out > li > .cd-search, .cd-dropdown-content ul.move-out > .cd-divider {
  /* push the dropdown items to the left when secondary dropdown slides in */
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.dropdown-is-active .cd-dropdown-content, .dropdown-is-active .cd-dropdown-content ul {
  -webkit-overflow-scrolling: touch;
}
 .cd-dropdown-content a, .cd-dropdown-content ul a {
        padding: 10px 20px;
    font-family: 'Gotham-Book';
    font-size: 11px;
    text-transform: capitalize;
    text-align: left;

  }
@media only screen and (min-width: 768px) {
  .cd-dropdown-content, .cd-dropdown-content ul {
    padding-top: 60px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-dropdown-content, .cd-dropdown-content ul {
    padding-top: 0;
    overflow: visible;
  }
  .cd-dropdown-content a, .cd-dropdown-content ul a {
    color: #111433;
  
    border-color: #ebebeb;
  }
  .cd-dropdown-content .cd-divider, .cd-dropdown-content ul .cd-divider {
    background-color: transparent;
    color: #b3b3b3;
    border-bottom: 1px solid #ebebeb;
        font-size: 12px;
    text-align: left;
  }
  .cd-dropdown-content .cd-divider + li > a, .cd-dropdown-content ul .cd-divider + li > a {
    border-top-width: 1px;
  }
  .cd-dropdown-content.is-hidden > li > a, .cd-dropdown-content.is-hidden > li > .cd-search, .cd-dropdown-content.is-hidden > .cd-divider, .cd-dropdown-content.move-out > li > a, .cd-dropdown-content.move-out > li > .cd-search, .cd-dropdown-content.move-out > .cd-divider, .cd-dropdown-content ul.is-hidden > li > a, .cd-dropdown-content ul.is-hidden > li > .cd-search, .cd-dropdown-content ul.is-hidden > .cd-divider, .cd-dropdown-content ul.move-out > li > a, .cd-dropdown-content ul.move-out > li > .cd-search, .cd-dropdown-content ul.move-out > .cd-divider {
    /* reset mobile style */
    opacity: 1;
  }
}

.cd-dropdown-content .see-all a {
  /* different style for the See all links */
  color: #3f8654;
}
.cd-dropdown-content .cd-dropdown-gallery .cd-dropdown-item, .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item {
  /* items with picture (or icon) and title */
  height: 80px;
  line-height: 80px;
}
.cd-dropdown-content .cd-dropdown-gallery .cd-dropdown-item h3, .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item h3 {
  /* truncate text with ellipsis if too long */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cd-dropdown-content .cd-dropdown-gallery .cd-dropdown-item {
  padding-left: 90px;
}
.cd-dropdown-content .cd-dropdown-gallery img {
  position: absolute;
  display: block;
  height: 40px;
  width: auto;
  left: 20px;
  top: 50%;
  margin-top: -20px;
}
.cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item {
  padding-left: 75px;
  position: relative;
}
.cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item p {
  color: #111433;
  font-size: 1.3rem;
  /* hide description on small devices */
  display: none;
}
.cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item::before {
  /* item icon */
  content: '';
  display: block;
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40px 40px;
}
@media only screen and (min-width: 1024px) {
  .cd-dropdown-content {
    /* reset mobile style */
    position: static;
    height: auto;
    width: 280px;
  }
  .cd-dropdown-content > li:last-of-type a {
    border-bottom: none;
  }
  .no-touch .cd-dropdown-content > li:not(.has-children) a:hover {
    color: #eb952e;
  }
  .cd-dropdown-content.move-out > li > a, .cd-dropdown-content.move-out > li > .cd-search, .cd-dropdown-content.move-out > .cd-divider {
    /* reset mobile style */
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  .cd-dropdown-content .cd-secondary-dropdown, .cd-dropdown-content .cd-dropdown-gallery, .cd-dropdown-content .cd-dropdown-icons {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    left: 100%;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.1);
  }
  .cd-dropdown-content .cd-secondary-dropdown::after, .cd-dropdown-content .cd-dropdown-gallery::after, .cd-dropdown-content .cd-dropdown-icons::after {
    clear: both;
    content: "";
    display: table;
  }
  .open-to-left .cd-dropdown-content .cd-secondary-dropdown, .open-to-left .cd-dropdown-content .cd-dropdown-gallery, .open-to-left .cd-dropdown-content .cd-dropdown-icons {
    /* use the .open-to-left class if you want to open the dropdown on the left */
    left: auto;
    right: 100%;
  }
  .cd-dropdown-content .cd-secondary-dropdown.is-hidden, .cd-dropdown-content .cd-dropdown-gallery.is-hidden, .cd-dropdown-content .cd-dropdown-icons.is-hidden {
    /* reset mobile style */
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  .cd-dropdown-content .cd-secondary-dropdown.fade-in, .cd-dropdown-content .cd-dropdown-gallery.fade-in, .cd-dropdown-content .cd-dropdown-icons.fade-in {
    /* animate secondary dropdown items when hovering over of of the .cd-dropdown-content list items */
    -webkit-animation: cd-fade-in 0.2s;
    -moz-animation: cd-fade-in 0.2s;
    animation: cd-fade-in 0.2s;
  }
  .cd-dropdown-content .cd-secondary-dropdown.fade-out, .cd-dropdown-content .cd-dropdown-gallery.fade-out, .cd-dropdown-content .cd-dropdown-icons.fade-out {
    /* animate secondary dropdown items when hovering over of of the .cd-dropdown-content list items */
    -webkit-animation: cd-fade-out 0.2s;
    -moz-animation: cd-fade-out 0.2s;
    animation: cd-fade-out 0.2s;
  }
  .cd-dropdown-content .cd-secondary-dropdown > .go-back, .cd-dropdown-content .cd-dropdown-gallery > .go-back, .cd-dropdown-content .cd-dropdown-icons > .go-back {
    display: none;
  }
  .cd-dropdown-content .cd-secondary-dropdown > .see-all, .cd-dropdown-content .cd-dropdown-gallery > .see-all, .cd-dropdown-content .cd-dropdown-icons > .see-all {
    position: absolute;
    bottom: 20px;
    height: 45px;
    text-align: center;
  }
  .cd-dropdown-content .cd-secondary-dropdown > .see-all a, .cd-dropdown-content .cd-dropdown-gallery > .see-all a, .cd-dropdown-content .cd-dropdown-icons > .see-all a {
    margin: 0;
    height: 100%;
    line-height: 45px;
    background: #ebebeb;
    pointer-events: auto;
    -webkit-transition: color 0.2s, background-color 0.2s;
    -moz-transition: color 0.2s, background-color 0.2s;
    transition: color 0.2s, background-color 0.2s;
  }
  .no-touch .cd-dropdown-content .cd-secondary-dropdown > .see-all a:hover, .no-touch .cd-dropdown-content .cd-dropdown-gallery > .see-all a:hover, .no-touch .cd-dropdown-content .cd-dropdown-icons > .see-all a:hover {
    color: #ffffff;
    background-color: #111433;
  }
  .cd-dropdown-content .cd-secondary-dropdown .cd-dropdown-item, .cd-dropdown-content .cd-secondary-dropdown a, .cd-dropdown-content .cd-dropdown-gallery .cd-dropdown-item, .cd-dropdown-content .cd-dropdown-gallery a, .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item, .cd-dropdown-content .cd-dropdown-icons a {
    border: none;
  }
  .cd-dropdown-content .cd-dropdown-gallery, .cd-dropdown-content .cd-dropdown-icons {
    padding: 20px 30px 100px;
  }
  .cd-dropdown-content .cd-dropdown-gallery > .see-all, .cd-dropdown-content .cd-dropdown-icons > .see-all {
    width: calc(100% - 60px);
  }
  .cd-dropdown-content .cd-dropdown-icons > li, .cd-dropdown-content .cd-secondary-dropdown > li {
    width: 50%;
    float: left;
  }
  .cd-dropdown-content .cd-secondary-dropdown {
    overflow: hidden;
    width: 550px;
    padding-bottom: 65px;
  }
  .cd-dropdown-content .cd-secondary-dropdown::before {
    /* this is the separation line in the middle of the .cd-secondary-dropdown element */
    position: absolute;
    content: '';
    top: 290px;
    left: 15px;
    height: 1px;
    width: 520px;
    background-color: #ebebeb;
  }
  .cd-dropdown-content .cd-secondary-dropdown > li > a {
    color: #3f8654;
    font-size: 1.6rem;
    margin-bottom: 10px;
    line-height: 30px;
    height: 30px;
    pointer-events: none;
  }
  .cd-dropdown-content .cd-secondary-dropdown > li > a::after, .cd-dropdown-content .cd-secondary-dropdown > li > a::before {
    /* hide the arrow */
    display: none;
  }
  .cd-dropdown-content .cd-secondary-dropdown.move-out > li > a {
    /* reset mobile style */
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  .cd-dropdown-content .cd-secondary-dropdown > li {
    margin: 20px 0;
    border-right-width: 1px;
    border-color: #ebebeb;
    border-style: solid;
    padding: 0 30px;
    height: 250px;
  }
  .cd-dropdown-content .cd-secondary-dropdown > li:nth-of-type(2n) {
    border-right-width: 0;
  }
  .cd-dropdown-content .cd-secondary-dropdown > li > ul {
    /* reset mobile style */
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0);
    position: relative;
    height: auto;
  }
  .cd-dropdown-content .cd-secondary-dropdown > li > ul > .go-back {
    display: none;
  }
  .cd-dropdown-content .cd-secondary-dropdown a {
    line-height: 25px;
    height: 25px;
    font-size: 1.3rem;
    padding-left: 0;
  }
  .no-touch .cd-dropdown-content .cd-secondary-dropdown a:hover {
    color: #3f8654;
  }
  .cd-dropdown-content .cd-secondary-dropdown ul {
    padding-bottom: 25px;
    overflow: hidden;
    height: auto;
  }
  .cd-dropdown-content .cd-secondary-dropdown .go-back a {
    padding-left: 20px;
    color: transparent;
  }
  .no-touch .cd-dropdown-content .cd-secondary-dropdown .go-back a:hover {
    color: transparent;
  }
  .cd-dropdown-content .cd-secondary-dropdown .go-back a::before, .cd-dropdown-content .cd-secondary-dropdown .go-back a::after {
    left: 0;
  }
  .cd-dropdown-content .cd-secondary-dropdown .see-all {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .cd-dropdown-content .cd-dropdown-gallery {
    width: 600px;
    padding-bottom: 100px;
  }
  .cd-dropdown-content .cd-dropdown-gallery > li {
    width: 48%;
    float: left;
    margin-right: 4%;
  }
  .cd-dropdown-content .cd-dropdown-gallery > li:nth-of-type(2n) {
    margin-right: 0;
  }
  .cd-dropdown-content .cd-dropdown-gallery .cd-dropdown-item {
    padding: 0;
    height: auto;
    line-height: normal;
    color: #3f8654;
    margin-bottom: 2em;
  }
  .cd-dropdown-content .cd-dropdown-gallery > li:nth-last-of-type(2) a,
  .cd-dropdown-content .cd-dropdown-gallery > li:last-of-type a {
    margin-bottom: 0;
  }
  .cd-dropdown-content .cd-dropdown-gallery img {
    position: static;
    height: auto;
    width: 100%;
    margin: 0 0 0.6em;
  }
  .cd-dropdown-content .cd-dropdown-icons {
    width: 600px;
  }
  .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item {
    height: 80px;
    line-height: 1.2;
    padding: 24px 0 0 85px;
  }
  .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item:hover {
    background: #ebebeb;
  }
  .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item h3 {
    color: #3f8654;
    font-weight: bold;
  }
  .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item p {
    display: block;
    font-size: 1.2rem;
  }
  .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item::before {
    left: 25px;
  }
  .cd-dropdown-content > .has-children > ul {
    visibility: hidden;
  }
  .cd-dropdown-content > .has-children > ul.is-active {
    /* when hover over .cd-dropdown-content items - show subnavigation */
    visibility: visible;
  }
  .cd-dropdown-content > .has-children > .cd-secondary-dropdown.is-active > li > ul {
    /* if .cd-secondary-dropdown is visible - show also subnavigation */
    visibility: visible;
  }
  .cd-dropdown-content > .has-children > a.is-active {
    /* hover effect for .cd-dropdown-content items with subnavigation */
    box-shadow: inset 2px 0 0 #3f8654;
    color: #3f8654;
  }
  .cd-dropdown-content > .has-children > a.is-active::before, .cd-dropdown-content > .has-children > a.is-active::after {
    background: #3f8654;
  }
  .open-to-left .cd-dropdown-content > .has-children > a.is-active {
    box-shadow: inset -2px 0 0 #3f8654;
  }
}

@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@-moz-keyframes cd-fade-in {
  0% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes cd-fade-in {
  0% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@-webkit-keyframes cd-fade-out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: visible;
  }
}
@-moz-keyframes cd-fade-out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: visible;
  }
}
@keyframes cd-fade-out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: visible;
  }
}
.cd-search input[type="search"] {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-color: #242643;
  color: #ffffff;
  border: none;
  border-radius: 0;
}
.cd-search input[type="search"]::-webkit-input-placeholder {
  color: #ffffff;
}
.cd-search input[type="search"]::-moz-placeholder {
  color: #ffffff;
}
.cd-search input[type="search"]:-moz-placeholder {
  color: #ffffff;
}
.cd-search input[type="search"]:-ms-input-placeholder {
  color: #ffffff;
}
.cd-search input[type="search"]:focus {
  background: #ffffff;
  color: #111433;
  outline: none;
}
.cd-search input[type="search"]:focus::-webkit-input-placeholder {
  color: rgba(17, 20, 51, 0.4);
}
.cd-search input[type="search"]:focus::-moz-placeholder {
  color: rgba(17, 20, 51, 0.4);
}
.cd-search input[type="search"]:focus:-moz-placeholder {
  color: rgba(17, 20, 51, 0.4);
}
.cd-search input[type="search"]:focus:-ms-input-placeholder {
  color: rgba(17, 20, 51, 0.4);
}
@media only screen and (min-width: 1024px) {
  .cd-search input[type="search"] {
    background-color: #ebebeb;
  }
  .cd-search input[type="search"]::-webkit-input-placeholder {
    color: #b3b3b3;
  }
  .cd-search input[type="search"]::-moz-placeholder {
    color: #b3b3b3;
  }
  .cd-search input[type="search"]:-moz-placeholder {
    color: #b3b3b3;
  }
  .cd-search input[type="search"]:-ms-input-placeholder {
    color: #b3b3b3;
  }
}

.has-children > a, .go-back a {
  position: relative;
}
.has-children > a::before, .has-children > a::after, .go-back a::before, .go-back a::after {
  /* arrow icon in CSS - for element with nested unordered lists */
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -1px;
  display: inline-block;
  height: 2px;
  width: 10px;
  background: #ffffff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.has-children > a::before, .go-back a::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.has-children > a::after, .go-back a::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
@media only screen and (min-width: 1024px) {
  .has-children > a::before, .has-children > a::after, .go-back a::before, .go-back a::after {
    background: #b3b3b3;
  }
}

.has-children > a {
  padding-right: 40px;
}
.has-children > a::before, .has-children > a::after {
  /* arrow goes on the right side - children navigation */
  right: 20px;
  -webkit-transform-origin: 9px 50%;
  -moz-transform-origin: 9px 50%;
  -ms-transform-origin: 9px 50%;
  -o-transform-origin: 9px 50%;
  transform-origin: 9px 50%;
}

@media only screen and (min-width: 1024px) {
  .open-to-left .cd-dropdown-content > .has-children > a {
    padding-left: 40px;
    padding-right: 20px;
  }
  .open-to-left .cd-dropdown-content > .has-children > a::before, .open-to-left .cd-dropdown-content > .has-children > a::after {
    right: auto;
    left: 20px;
    -webkit-transform-origin: 1px 50%;
    -moz-transform-origin: 1px 50%;
    -ms-transform-origin: 1px 50%;
    -o-transform-origin: 1px 50%;
    transform-origin: 1px 50%;
  }
}
.cd-dropdown-content .go-back a {
  padding-left: 40px;
}
.cd-dropdown-content .go-back a::before, .cd-dropdown-content .go-back a::after {
  /* arrow goes on the left side - go back button */
  left: 20px;
  -webkit-transform-origin: 1px 50%;
  -moz-transform-origin: 1px 50%;
  -ms-transform-origin: 1px 50%;
  -o-transform-origin: 1px 50%;
  transform-origin: 1px 50%;
}

.cd-main-content {
  background-color: #e6e6e6;
  min-height: calc(100vh - 100px);
  padding: 2em 5%;
  line-height: 2;
}

.no-js .cd-dropdown-wrapper:hover .cd-dropdown {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.no-js .cd-dropdown-wrapper .cd-close {
  display: none;
}

.cd-dropdown-content li{
  display: block !important;
}
.cd-divider_one{
  border-top: 1px solid #ebebeb;
}
/*dropdown*/

/* H1 tags for SEO */
.h1-clear{
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  color: black;
  /*padding: 35px 0 20px 0;*/
  padding-top: 30px;
}
.h1-clear-book{
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  color: black;
  /*padding: 35px 0 20px 0;*/
  line-height: 10px;
}

.review_main .h1-clear, .contact_main .h1-clear{
  padding-bottom: 30px;
}
.review_main .h1-clear, .contact_main .h1-clear, .about_us_main .h1-clear{
  color: white;
}
.happy_customer_form .h1-clear{
  padding-bottom: 0px;
}
.home_slider .h1-clear{
  text-align: left;
  padding: 0;
  border-bottom: #000 solid 1px;
  line-height: 40px;
  display: inline-block;
}

.home_slider .common_btn.item{
  margin-top: 20px;
}

/* choose bike datetime picker*/
/*.choose-bike-datetime-picker{
    display: inline-flex;
}
.choose-bike-datetime-picker .date_picker{
  padding: 10px 10px;
}

.choose-bike-datetime-picker .time_picker{
  padding: 10px 10px;
  width: 20%;
}*/
.green-datepicker{
  background: #C1FFC9;
}
.orange-datepicker{
  background: #FFF3E7;
}
.red-datepicker{
  background: #FF959D;
}

.date-time-calendar .no-border{
  display: inline-block;
  float: left;
  width: 40%;
}
.date-time-calendar .no-border.to-bar{
  /*margin: 0px 20px;*/
  padding-top: 20px;
  width: 12%;
}
.date-time-calendar .no-border.edit-btn{
  width: 8%;
}
.date-time-calendar .no-border .choose-bike-date input{
  width: 100px;
  border: none;
  font-size: 16px;
  color: #888;
  padding: 6px;
  text-align: center;
}
.date-time-calendar .no-border .choose-bike-time input{
  width: 90px;
  text-align: center;
  border: none;
  font-size: 14px;
  font-family: 'Gotham-Black';
  padding: 6px;
}

.date-time-calendar .no-border .edit-button{
  background: url('../images/icons.png');
  background-repeat: no-repeat;
  background-position: -90px 0;
  width: 25px;
  height: 25px;
  display: inline-block;
}
.border{
  border: 1px solid #dad9d9 !important;
  border-radius: 4px;
  margin-bottom: 10px !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_highlighted_red {
  background: red !important;
  box-shadow: #ffb871 0 1px 4px 0 inset !important;
  color: #000 !important;
}

.xdsoft_datetimepicker.xdsoft_dark .xdsoft_calendar td.xdsoft_highlighted_red {
  background: red;
  box-shadow: #ffb871 0 1px 4px 0 inset;
  color:#000;
}
.greendate{
  background: green !important;
  color: white !important;
}
.reddate{
  background: red;
  color: white;
}
.orangedate{
  background: black;
  color: white;
}

.continue-button{
  margin: 15px auto;
  text-align: center;
}
.continue-button a{
  border: 1px solid #EB942E;
  color: #000;
  padding: 5px;
  margin: 15px;
  background-color: #EB942E;
}

ul li ul li{
  list-style-type: none;
}

/* APPY PROMOCODE */
.apply-promocode {
  background-color: #fff;
  padding: 20px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

.apply-promocode .common_btn_big {
    float: left;
    margin: 5px 0 0 10px;
}

.apply-promocode .promocode-div input{
  padding: 10px;
  background-color: #f5f5f5;
  width: 200px;
  border:#dad9d9 solid 1px;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  font-size: 10px;
  font-family: 'Gotham-Book';
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
    
.apply-promocode .submit{
  color: #878787;
  display: inline-block;
}

.apply-promocode span{
  width: 11px;
  background-position: -44px -36px;
}

#promocode-msg{
  font-size: 12px;
  text-align: center;
  padding-bottom: 10px;
}

.success-msg{
  color: green;
}

.error-msg{
  color: red;
}
#step4 .book_now .bike_price span{
  display: inline-block;
}
#tariff-pg .discount-image{ text-align: center}

.sold-out-wrapper {
  text-align: center;
  margin-top: 10px;
  overflow: hidden;
  display: none;
  color: red;
  border-top: #dad9d9 solid 1px;
  padding-top: 10px;
  text-transform: uppercase;
  font-family: 'Gotham-Black';
}
.avail-btn-wrapper{
  padding-top: 5px;
}
.sold-out-wrapper .avail-btn-wrapper span{
  background-image: url(../images/icons.png);
  background-repeat: no-repeat;
  width: 11px;
  height: 24px;
  background-position: -44px -36px;
  margin-right: 5px;
  margin-top: 6px;
  display: -webkit-inline-box;
  float: left;
}
.sold-out-wrapper .avail-btn{
  display: inline-block;
  color: #878787;
  padding-top: 10px;
  cursor: default;
  font-size: 14px;
}
.show{display: inline-block !important;}
.booking-step2-continue{ display: none;}


#enquire-form label, #enquire-form input { display:block; }
#enquire-form input.text { margin-bottom:12px; width:100%; padding: .4em; }
#enquire-form fieldset { margin-left:0%;margin-right:0%;padding:0; border:0; margin-top:20px; }

.fixOverlayDiv{
    width:100%; 
    padding:0px;
}
.OverlayText{
     background-color: #000;
    bottom: 0;
    color: #fff;
    left: 0;
    opacity: 0.5;
    position: absolute;
    width: 100%;
}
.fixOverlayDiv{
 position: relative;
 width:100%; 
 padding:0px;
}

.top-buffer { margin-top:20px; }


.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center; /* Optional, to align inner items 
                              horizontally inside the column */
}

/**
 *  Do NOT include this part into your stylesheet.
 *  "flex: 1" or "flex-grow: 1" is added to make the inner div
 *  - Which is also a flex-item - take up all the horizontal space
 *  available space inside the flex container (.col-* elements)
 */
.vertical-align > [class^="col-"] > div,
.vertical-align > [class*=" col-"] > div {
  /* flex: 1; */
  flex-grow: 1;
}

div.transbox {
    background-color: #ffffff;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

div.transbox h1 {
    color: #000000;
    padding: 10px 10px 0 10px;
}
div.transbox h2 {
    font-family: 'Gotham-Black';
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
    color: #000000;
}


.app-img {
    text-align:left;
    min-width:100%;
    margin:0 auto;
    padding:10px 0 5px 0;
}

.app-img img{
height:auto;
width:80%;
}

.app-img-store {
    display: inline-block;
    vertical-align: center;
    text-align:left;
    margin:0 auto;
    padding:10px 0 5px 0;
    width:49%;

}

.app-img-store img{
    height:auto;
    width:105%;

}

.app-header {
    text-align:center;
    min-width:100%;
    margin:0 auto;
    padding:10px 0 5px 0;
}
.app-header-web {
    text-align:center;
    min-width:100%;
    margin:0 auto;
    padding:10px 0 5px 0;
}
.app-header-web h5{
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
    color: #ffffff;
}

.side-by-side-app{
    margin-right: auto;
    margin-left: auto;
}
    
.side-by-side{
    float:left;
    margin-right:5px;
}

.tariff_box{
  border: #dad9d9 solid 1px;
  padding: 10px 10px;
  background-color: #f5f5f5;
    border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
   -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
    
}

.tariff_lines{
    display: flex;
    align-items: center;
    justify-content: center;
}

.message_line{
    margin-top:20px;
    font-weight: bold;
}
.articles_sec .profile {
    float: left;
    width: 105px;
    margin-right: 10px;
}


#main_slider .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 0;
    left: 15%;
    top: 10%;
    color: #000;
    text-align: left;
    text-shadow: none;
}

#main_slider .carousel-caption span{
  font-size: 36px;
  margin-bottom: 0;
}

.profile img
{
  border-radius: 0;
}

.bann_bg {
    background: rgba(0, 0, 0, 0.61);
    color: #fff;
    padding: 20px;
}

.bann_bg small{
  color: #fff !important;
}


.motor_bg {
    background: rgba(0, 0, 0, 0.61);
    color: #fff;
    padding: 6px 20px !important;
}




@media (min-width: 768px){
  .form-inline .form-group {
      width: 75%;
  }
  .form-inline .form-control {
    width: 100%;
  }
}



@media(max-width: 767px){
  .home_slider .common_btn.item {
    margin-top: 0;
  }
  .profile img {
    border-radius: 0;
    float: left;
  }
  .mleft115{
    margin-left: 115px;
  }
}

.footerSub{
    
    padding: 10px;
    background-color: #f5f5f5;
    width: 270px;
    border: #dad9d9 solid 1px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-transform: uppercase;
    font-size: 10px;
    font-family: 'Gotham-Book';
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.footer_main .common_btn_big{
  float: left;
  margin:5px 0 0 10px;
}
.footer_main .submit{
  color: #878787;
}
.footer_main .common_btn_big span{
  width: 11px;
  background-position: -44px -36px;
}



.list-unstyled {
	padding-left: 0;
	list-style: none;
    text-align: center;
}
.list-inline li {
    padding: 20px;
	text-align: center;
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	margin-bottom: 10px;
}
/*---- Genral classes end -------*/

/*Change icons size here*/
.social-icons .fa {
	font-size: 1.8em;
}
/*Change icons circle size and color here*/
.social-icons .fa {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #FFF;
	color: rgba(255, 255, 255, 0.8);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa{ 
	border-radius: 50%;
}
.social-icons.icon-rounded .fa{
	border-radius:5px;
}
.social-icons.icon-flat .fa{
	border-radius: 0;
}

.social-icons .fa:hover, .social-icons .fa:active {
	color: #FFF;
	-webkit-box-shadow: 1px 1px 3px #333;
	-moz-box-shadow: 1px 1px 3px #333;
	box-shadow: 1px 1px 3px #333; 
}
.social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active { 
 	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1); 
}
.social-icons.icon-rotate .fa:hover, .social-icons.icon-rotate .fa:active { 
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
	transform: scale(1.1) rotate(360deg);
}
 
.social-icons .fa-adn{background-color:#504e54;} 
.social-icons .fa-apple{background-color:#aeb5c5;} 
.social-icons .fa-android{background-color:#A5C63B;}  
.social-icons .fa-bitbucket,.social-icons .fa-bitbucket-square{background-color:#003366;} 
.social-icons .fa-bitcoin,.social-icons .fa-btc{background-color:#F7931A;} 
.social-icons .fa-css3{background-color:#1572B7;} 
.social-icons .fa-dribbble{background-color:#F46899;}  
.social-icons .fa-dropbox{background-color:#018BD3;}
.social-icons .fa-facebook,.social-icons .fa-facebook-square{background-color:#3C599F;}  
.social-icons .fa-flickr{background-color:#FF0084;}
.social-icons .fa-foursquare{background-color:#0086BE;}
.social-icons .fa-github,.social-icons .fa-github-alt,.social-icons .fa-github-square{background-color:#070709;} 
.social-icons .fa-google-plus,.social-icons .fa-google-plus-square{background-color:#CF3D2E;} 
.social-icons .fa-html5{background-color:#E54D26;}
.social-icons .fa-instagram{background-color:#A1755C;}
.social-icons .fa-linkedin,.social-icons .fa-linkedin-square{background-color:#0085AE;} 
.social-icons .fa-linux{background-color:#FBC002;color:#333;}
.social-icons .fa-maxcdn{background-color:#F6AE1C;}
.social-icons .fa-pagelines{background-color:#241E20;color:#3984EA;}
.social-icons .fa-pinterest,.social-icons .fa-pinterest-square{background-color:#CC2127;} 
.social-icons .fa-renren{background-color:#025DAC;}
.social-icons .fa-skype{background-color:#01AEF2;}
.social-icons .fa-stack-exchange{background-color:#245590;}
.social-icons .fa-stack-overflow{background-color:#FF7300;}
.social-icons .fa-trello{background-color:#265A7F;}
.social-icons .fa-tumblr,.social-icons .fa-tumblr-square{background-color:#314E6C;} 
.social-icons .fa-twitter,.social-icons .fa-twitter-square{background-color:#32CCFE;} 
.social-icons .fa-vimeo-square{background-color:#229ACC;}
.social-icons .fa-vk{background-color:#375474;}
.social-icons .fa-weibo{background-color:#D72B2B;}
.social-icons .fa-windows{background-color:#12B6F3;}
.social-icons .fa-xing,.social-icons .fa-xing-square{background-color:#00555C;} 
.social-icons .fa-youtube,.social-icons .fa-youtube-play,.social-icons .fa-youtube-square{background-color:#C52F30;}
 


